- title @collection.title

= react_component 'Collections/Form', { id: @collection.id, title: @collection.title, values: { title: @collection.title, slug: @collection.slug, text: @collection.text, weight: @collection.weight, images: @collection.images.sort_by{ |i| [(i.weight.to_i.zero? ? 99 : i.weight), i.created_at] }.map{|i| {id: i.id, preview: i.photo.preview.url, thumb: i.photo.thumb.url, collection: i.photo.collection.url}} }}
