- set_meta_tags title: ['Коллекции', @collection.title],
  description: (@collection.text.presence || "Коллекция «#{@collection.title}»")

= react_component 'Collections/Show', @collection.slice(:id, :slug), { prerender: Rails.env.production? }
