.primary {
  display: grid;
  grid-gap: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * 2);
  /* margin-bottom: var(--yr-m); */
}

@media (--s) {
  .root {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: calc(var(--yr--m) * 2);
  }
}

.secondary {
  display: grid;
  grid-gap: calc(var(--yr) * 2);
  grid-template-columns: repeat(2, 1fr);
  /* margin-bottom: calc(var(--yr) * var(--s3)); */

  /* @media (--s) {
    margin-bottom: calc(var(--yr) * var(--s3) * 2);
  }

  @media (--l) {
    grid-template-columns: repeat(4, 1fr);
  } */
}

.slide {
  background-position: center;
  background-size: cover;
  position: relative;
  display: block;
  overflow: hidden;
}

.slide::before {
  background: rgba(0, 0, 0, 0.24);
  display: block;
  content: '';
  padding-top: calc(4 / 3 * 100%);

  /* @media (--l) {
    padding-top: calc(6 / 5 * 100%);
  } */
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
  max-width: 340px;
  width: 80%;
}
