.root {
  border-bottom: 1px solid var(--sep_color);
  padding-bottom: var(--yr);
  margin-bottom: var(--yr);

  &.active {
    & .arr {
      transform: scaleY(-1) translateY(calc(var(--yr) * 5));
    }
  }
}

.title {
  position: relative;
  width: 100%;
  cursor: pointer;
  line-height: calc(var(--yr) * var(--lh));
  padding: calc(var(--yr) * 1.5) 0;
  text-align: center;
  @media(--m) {
    text-align: left;
  }
}

.ch {
  padding-bottom: calc(var(--yr) * 3);
}

.arr {
  position: absolute;
  right: 0;
  display: block;
  transform: translateY(calc(var(--yr) * -5));
  width: 10px;
  height: 20px;
  margin-left: auto;
  flex-shrink: 0;

  & polyline {
    fill: none;
    stroke-width: 1px;
    stroke: var(--pr_color);
    stroke-linecap: butt;
    stroke-linejoin: miter;
  }
}
