.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * 1);
  }
}

.v {
  @media (--s) {
    line-height: calc(var(--yr) * var(--lh));
  }
}
