.root {

}

.title {
  text-align: center;

  @media(--m) {
    text-align: left;
  }
}

.variants {
  display: flex;
  justify-content: center;
  margin-top: var(--yr);

  @media(--m) {
    justify-content: flex-start;
  }
}

.variant {
  position: relative;
  user-select: none;
  cursor: pointer;
  width: calc(var(--yr) * 8);
  height: calc(var(--yr) * 8);

  &:not(:last-child) {
    margin-right: calc(var(--yr) * 2);
  }

  &.active {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: calc(var(--yr) * -1.5);
      width: calc(var(--yr) * 8);
      border-bottom: 1px solid var(--pr_color);
    }
  }

  & > div {
    overflow: hidden;
    display: block;
    width: calc(var(--yr) * 8);
    height: calc(var(--yr) * 8);
  }
}
