.slider {
  position: relative;

  @media (--s) {
    grid-column: auto / span 5;
  }
}

.image {
  overflow: hidden;
  position: relative;

  &::before {
    display: block;
    content: '';
    padding-top: calc(4 / 3 * 100%);
    background-color: var(--ph_color);
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
  }
}

.nav {
  display: none;
  color: white;
  position: absolute;
  z-index: 2;
  bottom: calc(var(--yr) * var(--s2));
  right: calc(var(--yr) * var(--s2));
  padding-right: 0;

  &.isSlide {
    display: block;
  }
}

.pn {
  display: none;
  cursor: default;
  position: absolute;
  height: calc(var(--yr) * var(--s2) * 2 + 28px);
  width: calc(var(--yr) * var(--s2) * 2 + 56px);
  bottom: 0;
  left: 0;
  padding: calc(var(--yr) * var(--s2));
  z-index: 2;

  & svg {
    height: 28px;
    width: 28px;
  }

  @media (--m) {
    display: flex;
  }
}

.prev,
.next {
  cursor: pointer;
  transition: opacity 0.3s;
}

.inactive {
  opacity: 0.3;
  cursor: default;
}

.video {
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & video {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    position: absolute;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    opacity: 0;
    background: url(./Play.svg) center no-repeat;
    background-size: 48px;
    transition: background 0.3s, opacity 0.3s;

    @media (--s) {
      background-size: 64px;
    }
  }

  &.paused {
    &::after {
      opacity: 1;
    }
  }
}

.poster {
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
