.root {
  @media (--m) {
    margin: 0 calc(2 / 12 * 100%);
  }
}

.states {
  margin-bottom: calc(var(--yr) * 4);
}

.orders {

}

.order {
  background-color: white;
  padding: calc(var(--xr));

  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * 4);
  }
}

.handle {
  cursor: pointer;
  user-select: none;

  & .title {
    display: flex;
    align-items: center;
  }

  @media (--s) {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
  }
}

.states {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (--s) {
    justify-content: flex-start;
  }
}

.state {
  cursor: pointer;
  font-size: calc(var(--yr) * calc(var(--fs) - 0.5));
  line-height: calc(var(--yr) * var(--lh));
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @media (--s) {
    margin-left: 1em;
    margin-right: 2em;
  }

  &.active {
    border-bottom: 2px solid;
    color: green;
  }
}

.status {
  composes: at from '../Fonts';
  margin-right: 1em;
  padding: 0 0.5em;

  &.active {
    background: color-mod(green a(0.05));
    color: green;
  }

  &.archived {
    background: color-mod(var(--gr_color) a(0.05));
    color: var(--gr_color);
  }

  &.paid {
    background: color-mod(yellow a(0.05));
    color: orange;
  }
}

.archive {
 margin: calc(var(--yr) * 2) 0;

  @media (--s) {
    margin: 0;
  }
}

.details {
  composes: at from '../Fonts';
}

.number {
  font-weight: var(--fw_bold);
}

.created_at {
  margin-left: 2em;
  color: var(--gr_color);
}

.pay {
  margin-top: calc(var(--yr) * 4);
}

.items {
  margin-top: calc(var(--yr) * 8);
  composes: at from '../Fonts';

  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--xr);
  }
}

.item {
  display: grid;
  grid-column-gap: var(--xr);
  grid-template-columns: 6rem 1fr;
  grid-template-rows: repeat(5, auto) 1fr;

  & .title {
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * 8);
  }
}

.image {
  align-self: flex-start;
  composes: image from '../Variants/List.module.css';
  grid-row: 1 / span 6;
}

.unavailable {
  color: var(--red_color);
  font-weight: var(--fw_bold);
}
