.root {
  @media (--s) {
    margin: 0 calc(2 / 12 * 100%);
  }
}

.drag {
  background-image: url('../../images/icons/drag.svg');
  background-color: color-mod(var(--pr_color) alpha(50%));
  position: absolute;
  left: calc(var(--yr) * 4);
  top: calc(var(--yr) * 4);
  height: calc(var(--yr) * 6);
  width: calc(var(--yr) * 6);
  /* margin-top: calc(var(--yr) * -3); */
  cursor: row-resize;

  @media (--s) {
    top: calc(var(--yr) * 5);
  }

}

.category {
  display: block;
  padding: calc(var(--yr) * 4);
  background-color: white;
  padding-left: calc(var(--yr) * 14);
  position: relative;

  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * 4);
  }
}

.inactive {
  opacity: 0.5;
}

.variants {
  composes: at from '../Fonts';
}

.translate {
  margin-left: 0.5em;
  color: red;
}
