.page_collection {
  .page_common_text {
    padding: 0 $gutter;

    @include mq($m) {
      padding: 0 $gutter * 2;
    }

    @include mq($l) {
      padding: 0 $gutter;
      width: 12 / 16 * 100%;
      margin-left: 2 / 16 * 100%;    }
  }

  &_list {
    &_kit {
      margin-bottom: ($space-m);
      position: relative;
      overflow: hidden;

      &.has_cover {
        padding-top: $space-m;

        @include mq($m) {
          padding-top: $space-m2;
        }
      }

      &_cover {
        @include aspect-ratio(3, 2);

        background-position: center;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        // height: 280px;

        @include mq($l) {
          @include aspect-ratio-modify(2, 1);
        }
      }

      &_items {
        display: flex;
        flex-wrap: wrap;
        // max-width: $xl;
        padding: 0 $gutter / 2;

        @include mq($m) {
          padding: 0 $gutter * 1.5;
        }

        @include mq($l) {
          padding: 0 $gutter / 2;
          width: 12 / 16 * 100%;
          margin-left: 2 / 16 * 100%;
        }

        > div {
          padding: $gutter / 2;

          img {
            display: block;
            width: 100%;
          }
        }

        .vert {
          width: 50%;
        }

        .hor {
          width: 100%;
        }
      }
    }
  }
}

.ci {
  &_1_6_2,
  &_1_5_1,
  &_1_1_4 {
    margin-left: 50%;
  }

  &_1_7_3,
  &_1_4_4 {
    margin-top: -30%;
  }

  &_1_4_3,
  &_1_7_2,
  &_1_3_2,
  &_1_2_2 {
    margin-top: 30%;
  }

  &_2 {
    &_3_1,
    &_2_1,
    &_1_1 {
      margin-top: 30%;
    }

    &_3_12,
    &_3_10,
    &_3_8,
    &_3_6,
    &_3_4,
    &_2_10,
    &_2_8,
    &_2_6,
    &_2_4,
    &_1_18,
    &_1_16,
    &_1_14,
    &_1_12,
    &_1_10,
    &_1_8,
    &_1_6,
    &_1_4 {
      margin-top: -30%;
    }
  }

  &_3 {
    &_1_2 {
      margin-top: 30%;
    }

    &_1_29,
    &_1_27,
    &_1_25,
    &_1_23,
    &_1_21,
    &_1_19,
    &_1_17,
    &_1_15,
    &_1_13,
    &_1_11,
    &_1_9,
    &_1_7,
    &_1_5,
    &_1_3 {
      margin-top: -30%;
    }
  }
}
