.header {
  &.about {
    .header_logo svg,
    rect,
    .cls-1 {
      fill: $op-color;
      transition: fill .3s;
    }

    .a,
    .b {
      stroke: $op-color;
      transition: stroke .3s;
    }
    &.about_act {
      .header_logo svg,
      rect,
      .cls-1 {
        fill: $primary-color;
      }

      .a,
      .b {
        stroke: $primary-color;
      }
    }
  }
}
.page_about_collection {

  & > div {
    margin-bottom: 3 * $gutter;
  }

  &_wrapper {
    .page_about {
      position: relative;
      padding-bottom: 0;

      @include mq($s) {
        padding-bottom: 3 * $gutter;
      }
    }
  }

  &_sketch {
    background: {
      image: image_url('pages/about/golovina_cover.jpg');
      size: cover;
      position: right;
    }
    height: 80vh;

    @include aspect-ratio(3, 4);

    @include mq($s) {
      @include aspect-ratio(2, 2);

    }

    @include mq($m) {
      @include aspect-ratio(5, 3);
    }

    @include mq($l) {
      @include aspect-ratio(7, 3);
    }
  }

  &_intro {
    bottom: 0;
    color: $primary-color;
    margin-bottom: 0;
    position: relative;

    .about_logo {
      @include column-width(6, 12);
      padding-bottom: $gutter * 1.5;
      transform: translate(0, -100%);
      position: absolute;
    }

    .quote {
      margin-top: $gutter;
    }

    @include mq($s) {
      .about_logo {
        @include column-width(4, 12);
      }

      color: #fff;
      position: absolute;
      @include column-width(10, 12);
      // @include column-shift(1, left, 12);

      padding-bottom: 3 * $gutter;

      .quote {
        @include font-size(4.25, 5);
      }
    }

    @include mq($m) {
      @include column-width(10, 12);
      // @include column-shift(2, left, 12);

      .quote {
        @include font-size(5.625, 6);
      }
    }
  }

  &_about {
    @include mq($s) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: $gutter;

      .text {
        grid-column: 2 / span 10;
      }
    }

    @include mq($m) {
      .text {
        grid-column: 3 / span 8;
      }
    }
  }

  &_desc {
    display: grid;
    grid-gap: $gutter;

    &.brand {

      .collection_img {
        &.img_i_0 {
          background: {
            image: image_url('pages/about/golovina/golovina_about_2.jpg');
            size: contain;
          }
        }

        &.img_i_1 {
          background: {
            image: image_url('pages/about/golovina/golovina_brand_02.jpg');
            size: contain;
          }
        }

        &.img_i_2 {
          background: {
            image: image_url('pages/about/golovina/golovina_brand_03.jpg');
            size: contain;
          }
        }
      }
    }

    .collection_img {
      @include aspect-ratio(4, 6);

      &.img_i_0 {
        background: {
          image: image_url('pages/about/golovina/golovina_about_2.jpg');
          size: contain;
        }
      }

      &.img_i_1 {
        background: {
          image: image_url('pages/about/collection_slide_1.jpg');
          size: contain;
        }
      }

      &.img_i_2 {
        background: {
          image: image_url('pages/about/golovina/xmas/xmas_1_1.jpg');
          size: contain;
        }
      }
    }

    .collection_text {
      p {
        margin-bottom: $base-rhythm-line * $base-line-height / 2;

        @include mq($s) {
          margin-bottom: $base-rhythm-line * ($base-line-height + 1) / 2;
        }
      }
    }

    @include mq($s) {
      grid-template-columns: repeat(12, 1fr);
      grid-gap: $gutter;

      .collection_img {
        grid-column: span 6;
        &.img_i_1 {
          order: 2;
        }
        &.img_i_2 {
          order: 3;
        }
      }

      .collection_text {
        align-self: center;
        grid-column: span 6;
        padding-left: $gutter;

        &.text_i_1 {
          order: 1;
          padding-left: 0;
          padding-right: $gutter;
        }

        &.text_i_2 {
          order: 4;
        }
      }
    }

    @include mq($l) {
      grid-gap: $gutter;

      .collection_img {
        &.img_i_1 {
          grid-column: 7 / span 6;
        }
      }

      .collection_text {
        padding: 0;
        grid-column: 8 / span 5;

        &.text_i_1 {
          grid-column: span 5;
        }
      }
    }
  }

  &_debut {
    display: grid;
    grid-gap: $gutter;

    .collection_img {
      @include aspect-ratio(4, 6);
      order: 1;
    }

    .collection_text {
      order: 2;

      .desc {
        margin: 0.5 * $gutter 0;
      }
    }

    @include mq($s) {
      grid-template-columns: repeat(12, 1fr);
      grid-gap: $gutter;

      .collection_img {
        grid-column: span 6;
        order: 2;
      }

      .collection_text {
        grid-column: span 6;
        align-self: center;
        padding-right: $gutter;
        order: 1;
      }
    }

    @include mq($l) {
      grid-gap: $gutter;

      .collection_text {
        padding: 0;
      }
    }
  }
}
