&_contacts {
  @include mq($m) {
    @include font-size(2.25, 4);
  }

  .contacts_view {
    margin-bottom: $gutter;

    .contacts_image {
      .image {
        @include aspect-ratio(4, 3);
      }

      &:nth-child(2) {
        display: none;
      }
    }


    @include mq($m) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: $gutter;

      .contacts_image {

        grid-column: 6 span;
      }

      .contacts_image:nth-child(2) {
        display: block;
        grid-column: 8 / 4 span;
        align-self: end;
      }
    }
  }

  .social_networks {
    display: flex;

    a {
      display: block;
      padding: $space-s / 4 0;

      svg {
        width: $space-s2 / 2;
        height: $space-s2 / 2;
        display: inline-block;
        transform: translateY(2px);

        .a {
          fill-rule: evenodd;
          transition: fill 0.3s;
        }
      }
    }

    @include mq($s) {
      padding: 0 $space-s2 / 2;
    }

    @include mq($xl) {
      padding: 0;
    }
  }
}
