&_customers {
  @include mq($m) {
    @include font-size(2.25, 4);
  }


  .page_common_text {
    max-width: $m;

    &.lv3 {
      margin-bottom: $base-rhythm-line * 1.5;

      @include mq($s){
        margin-bottom: $base-rhythm-line * 2;
      }

    }

    .city_toggle {
      border-bottom: 1px solid #dfdfdf;

      .lv4 {
        display: flex;
        text-transform: uppercase;
        letter-spacing: 2px;

        .varr_icon {
          display: block;
          width: 10px;
          height: 24px;
          margin-left: 0.5rem;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          margin-left: auto;

          polyline {
            fill: none;
            stroke-width: 1px;
            stroke: #282828;
            stroke-linecap: butt;
            stroke-linejoin: miter;
          }
        }
      }

      .content {
        display: none;
        padding-bottom: $base-rhythm-line * 2;
      }
    }
  }


  &_delivery {

  }
}