.page_event {
  padding-bottom: $space-m;

  &_intro {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: $gutter;

    &.lv2 {
      margin-bottom: 3 * $gutter;
    }
    &_date {
      text-align: left;

      .date_wrapper {
        display: inline-block;
        text-align: center;
      }

      .day {
        @include font-size(3, 4);
        border-bottom: 1px solid;
      }
    }

    &_header {
      grid-column: span 4;
      text-align: center;
    }

    @include mq($s) {
      grid-template-columns: repeat(12, 1fr);

      &_date {
        grid-column: span 2;

        .date_wrapper {
          position: absolute;

          .day {
            @include font-size(4, 5);
          }
        }
      }

      &_header {
        grid-column: span 8;
      }
    }
  }
  &_announcement {

    margin-bottom: $space-m;

    @include mq($s) {
      @include column-width(8, 12);
      margin-left: 2/12 * 100%;
    }
  }

  &_highlight {
    @include aspect-ratio(6, 4);
    margin-left: -$gutter;
    margin-right: -$gutter;

    .row {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      height: 100%;

      img {
        display: inline-block;
        height: 100%;
        margin-right: $gutter;
        width: auto;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @include mq($s) {
      display: none;
    }
  }

  &_slider {
    display: none;
    margin-left: -$gutter;
    margin-right: -$gutter;

    .swiper-container {
      .swiper-slide {

        &-wrapper {
          @include aspect-ratio(4, 6);

          img {
            margin: 0 auto;
            height: auto;
            width: 100%;
            top: 50%;
            transform: translate(0%, -50%);
          }
        }
      }
    }

    @include mq($s) {
      display: block;
      margin: 0;

      .swiper-container {
        .swiper-slide {

          &-wrapper {
            @include aspect-ratio(6, 4);

            img {
              margin: 0 auto;
              height: 100%;
              width: auto;
              top: auto;
              transform: none;
            }
          }
        }

        .swiper-pagination {
          display: none;
        }
      }
    }
  }

  &_thumbs_slider {
    display: none;

    @include mq($s) {
      display: block;
      margin: $gutter 0;

      .swiper-container {
        .swiper-slide {
          padding: 0 $gutter;
          padding-left: $gutter / 2;
          padding-right: $gutter / 2;
          width: auto;

          &:first-child {
            padding-left: 0;
          }

          &-wrapper {
            max-height: 100%;

            img {
              max-height: 150px;
              width: auto;
            }
          }
        }
      }
    }
  }

  @include mq($m) {
    padding-left: $gutter;
    padding-right: $gutter;
  }

  @include mq($l) {
    padding-left: 0;
    padding-right: 0;
  }
}
