&_kit {
  &_intro {
    .images {
      &_item {
        .img {
          @include aspect-ratio(4, 5);
        }
      }
    }
  }

  &_form {
    &.dz_form {
      position: relative;
      z-index: 4;

      &.dz-drag-hover {

        &:after {
          content: '';
          position: fixed;
          background: rgba($primary-color, 0.5);
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 3;
        }
      }
    }

    .dz_clickable {
      margin-bottom: $base-rhythm-line;
    }

    .dz_preview {
      display: flex;

      &_item {
        border: 1px solid $separator_color;
        width: 130px;
        height: 160px;
        background-color: $sand-color;
        margin-right: $gutter / 2;
        margin-bottom: $base-rhythm-line;
        padding: 4px;
        position: relative;

        .destroy {
          position: absolute;
          right: $gutter;
          top: $base-rhythm-line;
          line-height: 24px;
          width: 24px;
          background: rgba(#000, 0.5);
          border-radius: 2px;
          text-align: center;
          color: #fff;

        }

        img {
          display: block;
          width: 120px;
          height: 150px;
        }
      }
    }
  }

  @include mq($m) {


    &_intro {
      .images {
        @include column-pane;
        padding: 0 $gutter / 2;

        &_item {
          @include column-width(6, 12);
          padding: 0 $gutter / 2;

          margin-bottom: 0;
        }
      }

    }

    &_products {
      .products {
        &_item {
          .product {
            &_images {
              margin-bottom: 0;

              .images {
                &_list {
                  cursor: pointer;
                }
              }
            }
          }

          &.i_0 {
            .product {
              &_images {
                order: 1;
              }
            }
          }
        }
      }
    }
  }

  @include mq($l) {
    &_intro {
      .images {
        padding: 0;
        margin-left: -$gutter / 2;
        margin-right: -$gutter / 2;
      }
    }
  }
}