&_kit {
  h1 {
    text-align: center;
    margin-bottom: 2 * $gutter;
  }

  &_intro {
    position: relative;

    .images {
      display: none;
      position: relative;

      .image_0, .image_1 {
        margin-bottom: $space-s;

        .img {
          @include aspect-ratio(4, 5);

          background: $sand-color;
        }
      }

      .image_0 {
        @include column-width(3, 4);
      }

      .title {
        @include column-width(1, 4);
        position: relative;

        .rotate {
          width: 100%;
          height: 100%;

          span {
            display: none;

            @include mq(0 ($s - 1)) {

              @include font-size-small;
              box-sizing: content-box;
              display: block;
              height: 42px;
              overflow: hidden;
              padding: 0.5 * $space-s 0 0 $space-s;
              position: absolute;
              text-align: center;
              transform: rotate(-90deg) translate(0%, 0%);
              transform-origin: left top;
              top: 100%;
              width: 270px;
            }
          }
        }
      }

      .count {
        align-self: center;
        text-align: center;
        padding: 0 $gutter;

        .toggle {
          @include font-size-small;
        }

        .btn {
          @include font-size(1.25);

          letter-spacing: 0.1em;
          margin-top: $base-rhythm-line;
          text-transform: uppercase;
          padding: 0 $gutter / 2;
          min-width: 0;
        }
      }

      .image_1, .count {
        @include column-width(2, 4);
      }

      @include mq($s) {
        display: block;

        @include column-pane;
      }

      @include mq($m) {
        .image_0 {
          @include column-width(6, 12);
          @include page-static-gutter;
          margin-bottom: 0;
        }

        .image_1 {
          align-self: center;
          margin-bottom: 0;

          @include column-width(4, 12);
          @include column-shift(1, left, 12);
          @include column-shift(1, right, 12);
        }

        .count {
          position: absolute;
          left: 50%;
          width: 50%;
          top: 88%;

          @include mq($l) {
            top: 85%;
          }
        }

        .title {
          position: absolute;
          left: 50%;
          width: 50%;
          bottom: 87%;

          .rotate {

            span {
              display: block;
              margin-left: 1 / 6 * 100%;
              margin-right: 1 / 6 * 100%;

              @include font-size-h3
            }
          }
        }
      }
    }

    .control {
      padding: $base-rhythm-line;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;

      a {
        background-color: rgba($primary-color, 0.5);
        display: block;
        width: 24px;
        height: 24px;

        &.edit {
          background-image: image_url('icons/edit_white.svg');
          background-size: 24px 24px;
        }
      }

      @include mq($m) {
        left: $gutter;
      }

      @include mq($l) {
        left: $gutter / 2;
      }
    }

    &.lv2 {
      margin-bottom: $base-rhythm-line;

      @include mq($s) {
        margin-bottom: 6 * $base-rhythm-line;
      }
    }
  }

  .images_m {
    margin: $gutter -1rem $gutter;

    .image {
      @include aspect-ratio(4, 5);

      background: $sand-color;
    }

    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        border: 1px solid #fff;
        background: transparent;
        margin: 0 7px;
        height: 10px;
        opacity: 1;
        width: 10px;
      }
      .swiper-pagination-bullet-active {
        background: #fff;
      }
    }

    @include mq($s) {
      display: none;
    }
  }

  &_edit {
    .edit {
      .btn_gr {
        @include font-size(1.25);

        letter-spacing: 0.1em;
        text-transform: uppercase;

        font-family: inherit;
        font-weight: inherit;
        appearance: none;
        cursor: pointer;
        color: $primary-color;
        display: inline-block;
        padding: $base-rhythm-line / 2 $gutter / 2;
        user-select: none;
      }
    }
  }

  &_form {
    .kit_images {
      .dz_images {
        display: none;
      }
    }

    &.dz_form {
      position: relative;
      z-index: 4;

      &.dz-drag-hover {

        &:after {
          content: '';
          position: fixed;
          background: rgba($primary-color, 0.5);
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 3;
        }
      }
    }

    .dz_clickable {
      margin-bottom: $base-rhythm-line;
    }

    .dz_preview {
      display: flex;
      flex-wrap: wrap;

      &_item {
        border: 1px solid $separator_color;
        width: 88px;
        height: 108px;
        background-color: $sand-color;
        margin-right: $gutter / 2;
        margin-bottom: $base-rhythm-line;
        padding: 3px;
        position: relative;

        .move {
          position: absolute;
          left: $base-rhythm-line;
          top: $base-rhythm-line;
          z-index: 5;
          background-color: rgba($primary-color, 0.5);
          display: block;
          width: 24px;
          height: 24px;

        }

        .pos {
          color: $op-color;
          font-weight: $bold;
          position: absolute;
          right: $base-rhythm-line;
          top: $base-rhythm-line;
          z-index: 1;
          background-color: rgba($primary-color, 0.7);
          display: block;
          width: 24px;
          height: 24px;
          text-align: center;
          line-height: 24px;
          border-radius: 50%;
        }

        .control {
          display: flex;
          padding: $base-rhythm-line;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 5;

          a, .a {
            background-color: rgba($primary-color, 0.5);
            display: block;
            width: 24px;
            height: 24px;

            &.destroy {
              background-image: image_url('icons/delete_white.svg');
              background-size: 24px 24px;
            }
          }
        }

        // .destroy {
        //   position: absolute;
        //   right: $gutter;
        //   top: $base-rhythm-line;
        //   line-height: 24px;
        //   width: 24px;
        //   background: rgba(#000, 0.5);
        //   border-radius: 2px;
        //   text-align: center;
        //   color: #fff;

        // }

        img {
          display: block;
          width: 80px;
          height: 100px;
        }
      }
    }

    .kit_variants {
      .as_variants {
        display: none;
      }
    }

    .as_variants {
      &_choose {
        margin-bottom: $base-rhythm-line * 5;


        &_list {
          display: flex;
          flex-wrap: wrap;
          // margin-right: -$gutter;



          &_item {
            cursor: pointer;
            width: 250px;
            padding-right: $gutter * 2;
            margin-bottom: $base-rhythm-line;

            .frame {
              align-items: flex-start;
              display: flex;
              padding: $base-rhythm-line / 2;
              border: 2px solid transparent;
            }

            &.selected {

              .frame {
                background-color: rgba($sand-color, 1);
                padding: $base-rhythm-line / 2;
                border: 2px solid $primary-color;
              }
            }

            .img {
              flex-shrink: 0;
              width: 50px;
              margin-right: $gutter / 2;
              @include aspect-ratio(4, 5);
            }

            .data {
              @include font-size(1.5, 2);

              @include mq($m) {
                @include font-size(2, 3);
              }
            }

          }
        }
      }
    }
  }

  &_products {

    .swiper-pagination {
      position: absolute;
      right: $gutter;
      left: auto;
      top: $base-rhythm-line;
      width: auto;
      bottom: auto;
    }

    .products_item {

      .more {
        display: block;
        margin-top: $gutter;

        @include mq($s) {
          display: inline-block;
        }
      }

      &.variant_out {
        .out {
          display: flex;
        }

        .rest_of,
        .acc {
          display: none;
        }
      }
    }
  }

  @include mq($m) {
    &_intro {
      .images {
        @include column-pane;

        &_item {

          margin-bottom: 0;
        }
      }

    }

    &_products {
      .products {
        &_item {
          .product {
            &_images {
              @include aspect-ratio(4,5);

              margin-bottom: 0;

              .images {
                &_list {
                  @include mq($m) {
                    display: flex;

                  }
                  cursor: pointer;
                }
              }

              .out {
                align-items: center;
                background: rgba(255, 255, 255, 0.8);
                display: flex;
                justify-content: center;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 2;

                .msg {
                  @include font-size(3, 4);

                  text-align: center;
                }
              }
            }
          }

          &.i_0 {
            .product {
              &_images {
                order: 1;
              }
            }
          }
        }
      }
    }
  }

  @include mq($l) {
    &_intro {
      .images {
        padding: 0;
        margin-left: -$gutter / 2;
        margin-right: -$gutter / 2;
      }
    }
  }
}

.as_variants {
  // .selectize-dropdown-content {
  //   max-height: 400px;

  //   .selectize-variant {
  //     display: flex;

  //     .img {
  //       width: 40px;
  //       margin-right: $gutter;
  //       @include aspect-ratio(4, 5);
  //     }
  //   }
  // }
}