&_kit {
  &_intro {
    .image {
      .img {
        @include aspect-ratio(4, 5);
      }
    }
  }

  &_form {
    &.dz_form {
      position: relative;
      &.dz-drag-hover {

        &:after {
          content: '';
          position: fixed;
          background: rgba($primary-color, 0.5);
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 3;
        }
      }
    }
  }

  @include mq($m) {
    padding: 0 $gutter;

    &_intro {
      @include column-pane;

      .image {
        @include column-width(6, 12);

        margin-bottom: 0;
      }

      .title {
        @include column-width(4, 12);
        @include column-shift(1, left, 12);
      }
    }

    &_products {
      &_item {
        .product {
          &_images {
            margin-bottom: 0;

            .images {
              &_list {
                cursor: pointer;
              }
            }
          }
        }

        &.i_0 {
          .product {
            &_images {
              order: 1;
            }
          }
        }
      }
    }
  }

  @include mq($l) {
    padding: 0;
  }
}