// &_orders {
//   &_list {
//     .orders {
//       &_item {
//         margin-bottom: $space-s2;
//
//         &_items {
//           display: flex;
//           flex-wrap: wrap;
//
//           > div {
//             width: 120px;
//             margin-right: $gutter;
//
//             img {
//               display: block;
//
//               width: 120px;
//               height: 150px;
//             }
//           }
//         }
//       }
//     }
//   }
// }


&_orders {
  &_list {
    .state_tabs {
      @include font-size-small;

      margin-bottom: $space-s;
      display: flex;
      flex-wrap: wrap;

      &_item {
        margin-right: $gutter;
        white-space: nowrap;

        &.active {
          color: $highlight-color;
        }
      }

      @include mq($l) {
        max-width: 8 / 12 * 100%;
        margin-left: 2 / 12 * 100%;
      }
    }

    .orders {
      &_list {
        &_item {
          padding: $base-rhythm-line * 2 $gutter;
          background-color: #fff;
          margin-bottom: $base-rhythm-line * 2;
          cursor: pointer;

          .fr {
            position: relative;

            &_title {
              font-weight: 600;
            }

            &_state {
              &.paid { color: $red-color; }
              &.archived { color: #9da976; }
              &.declined { color: $separator-color; }
            }

            &_date {
              color: $grey-color;
            }

            &_actions {
              position: absolute;
              right: 0;
              top: 0;

              > a {
                display: block;
              }
            }

            @include mq($s) {
              display: flex;

              &_title, &_date, &_amount, &_state, &_actions {
                width: 20%;
                flex-shrink: 0;
              }

              &_state, &_actions {
                width: auto;
              //   flex-shrink: 0;
              }
            }
          }

          .sr {
            display: none;

            &_open {
              display: block;
            }

            &_data {
              > div {
                color: $grey-color;

                span {
                  color: $primary-color;
                }

              }
            }

            &_products {
              margin-top: $space-s;

              &_item {
                display: flex;
                align-items: flex-start;
                margin-bottom: $gutter;

                &_image {
                  @include aspect-ratio(4, 5);

                  background-color: $separator-color;
                  flex-shrink: 0;
                  margin-right: $gutter;
                  width: 100px;

                  @include mq($xl) {
                    width: 40%;
                  }
                }

                &_data {
                  color: $grey-color;

                  .title {
                    @include font-size-small;

                    color: $primary-color;
                  }

                  span {
                    color: $primary-color;
                  }
                }
              }

              @include mq($s) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: $gutter;

                &_item {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        @include mq($l) {
          max-width: 8 / 12 * 100%;
          margin-left: 2 / 12 * 100%;
        }
      }
    }
  }
}
