&_products {
  &_intro {
    max-width: $xl;
    padding: 0 $gutter;
    margin: $space-s auto;

    @include breakpoint($s) {
      margin: $space-m auto;
    }

    @include breakpoint($l) {
      margin: $space-m2 auto;
    }
  }

  &_list {
    padding: 0 $gutter / 2;
    max-width: $xl;
    margin: 0 auto;

    .list {
      &_item {
        padding: 0 $gutter / 2;
        user-select: none;
        margin-bottom: $space-m;

        .image {
          @include aspect-ratio(4, 5);

          position: relative;
          overflow: hidden;

          &_wrapper {
            position: relative;
            margin-bottom: $space-s;

            .wl {
              position: absolute;
              left: 4px;
              bottom: 4px;
              background: image_url('icons/wishlist.svg');
              width: 40px;
              height: 40px;

              z-index: 2;

              @include breakpoint($s) {
                left: 12px;
                bottom: 12px;
              }
            }

            .buy {
              position: absolute;
              right: 4px;
              bottom: 4px;
              background: image_url('icons/cart.svg');
              width: 40px;
              height: 40px;

              z-index: 2;

              @include breakpoint($s) {
                right: 12px;
                bottom: 12px;
              }
            }

            .size {
              position: absolute;
              right: 4px;
              bottom: 48px + 4px;
              background: image_url('icons/size.svg');
              width: 40px;
              height: 40px;

              z-index: 2;

              &_all {
                background: rgba($op-color, 0.3);
                position: absolute;
                left: 0;
                bottom: 0;
                height: 160px;
                width: 40px;
                visibility: hidden;
              }

              &.active {
                .size_all {
                  visibility: visible;
                }
              }

              @include breakpoint($s) {
                right: 12px;
                bottom: 64px + 12px;
              }
            }

            .color {
              position: absolute;
              right: 4px;
              bottom: 48px + 48px + 4px;
              background: image_url('icons/color.svg');
              width: 40px;
              height: 40px;

              z-index: 2;

              &_all {
                background: rgba($op-color, 0.3);
                position: absolute;
                right: 0;
                top: 0;
                height: 40px;
                width: 160px;
                visibility: hidden;
              }

              &.active {
                .color_all {
                  visibility: visible;
                }
              }

              @include breakpoint($s) {
                right: 12px;
                bottom: 64px + 64px + 12px;
              }
            }
          }

          img {
            position: absolute;
            display: block;
            width: 100%;
            left: 0;
            top: 0;
            //height: 100%;

            &.sec {
              opacity: 0;
              visibility: hidden;
            }
          }

          @include breakpoint($l) {
            &_wrapper {
              margin-bottom: $space-s2 / 2;
            }
          }
        }

        .data {
          display: flex;
          text-transform: uppercase;
          letter-spacing: 0.1em;

          .price {
            padding-left: $gutter;
            flex-shrink: 0;
          }

          .title {
            flex-grow: 1;
          }
        }

        &:hover {
          .image {
            img.sec {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }

      @include breakpoint($s) {
        @include column-pane;

        &_item {
          margin-bottom: $space-m2;

          @include column-width(6);
        }
      }

      @include breakpoint($l) {
        &_item {
          @include column-width(3);
        }
      }
    }
  }

  @include mq($m) {
    padding-left: $gutter;
    padding-right: $gutter;
  }

  @include mq($xl) {
    padding-left: $gutter * 3;
    padding-right: $gutter * 3;
  }
}