&_product {
  &_item {

  }

  &_form {
    .form {
      max-width: $s;
    }
  }

  @include mq($s) {

  }

  @include mq($m) {


  }

  @include mq($l) {


  }

  @include mq($m) {
    .product {
      margin-top: $space-s2;
    }
  }
}

.product {
  &_image {


    .image {
      @include aspect-ratio(4, 5);

      margin-bottom: $base-rhythm-line;
    }
  }

  &_text {
    .price {
      margin-bottom: $base-rhythm-line * 2;
    }

    .more {
      @include font-size-small;

      margin-bottom: $base-rhythm-line * 2;
      max-width: 475px;

      .buy {
        display: flex;

        .sizes {
          border: 1px solid $separator-color;
          margin-right: $gutter / 2;
          padding: $base-rhythm-line;
          text-align: center;
          width: 80px;

        }

        .add {
          background-color: $sand-color;
          padding: $base-rhythm-line;
          text-align: center;
          flex-grow: 1;
        }
      }

      .goto {
        text-align: center;
        display: block;
        margin-top: $base-rhythm-line;
        border: 1px solid $separator-color;
        padding: $base-rhythm-line;
      }
    }
  }

  @include mq($m) {
    @include column-pane;

    padding: 0 $gutter;

    &_image {
      @include column-width(6, 12);
    }

    &_text {
      @include column-width(4, 12);
      @include column-shift(1, left, 12);
      @include column-shift(1, right, 12);

      .title {
        margin-bottom: $base-rhythm-line * 4;
      }

      .price {
        margin-bottom: $base-rhythm-line * 8;
      }

      .more {
        margin-bottom: $base-rhythm-line * 8;
      }
    }
  }

  @include mq($l) {
    padding: 0;
  }
}