&_sizes_group {
  &_list {

    .sizes_group {
      &_list {
        &_item {
          background-color: #fff;
          margin-bottom: $base-rhythm-line * 2;
          cursor: pointer;

          @include mq($s) {
            display: flex;

            .sizes, .title, .edit, .destroy {
              width: 25%;
              flex-shrink: 0;
            }
          }
        }

        .btn {
          margin-right: $gutter;
        }

        @include mq($l) {
          max-width: 8 / 12 * 100%;
          margin-left: 2 / 12 * 100%;
        }
      }
    }
  }
}
