&_theme {
  padding-top: ($base-rhythm-line * 8 + $space-m);

  &_intro {
    margin-bottom: $space-m;

    @include mq($m) {
      padding: 0 $gutter;
    }

    @include mq($l) {
      padding: 0;
    }
  }

  &_products {
    &_empty {
      @include font-size-h2;

      margin-bottom: $space-m2;
      text-align: center;
    }
  }

  &_themes {
    .theme_intro {
      visibility: hidden;
      transform: translateY(8rem);
      opacity: 0;
      transition: opacity 1s, transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);

      &.vis {
        visibility: visible;
        transform: none;
        opacity: 1;
      }
    }
  }

  @include mq($s) {
    padding-top: $base-rhythm-line * 20;
  }

  @include mq($xl) {
    padding-top: $base-rhythm-line * 23;
  }

  &_form {
    .form {
      max-width: $s;
    }
  }
}

.theme_intro {
  display: block;
  position: relative;

  .image {
    @include aspect-ratio(4, 5);
    margin-left: -$gutter;
    margin-right: -$gutter;
    overflow: hidden;
  }

  .text {
    .desc {
      @include font-size(2, 4);

      display: none;
    }

    .btn_gr {
      padding: $base-rhythm-line / 2 0;
      width: 100%;
      text-align: center;
      max-width: 260px;
    }

    > a {
      display: block;

      &:hover {
        .btn {
          background-color: $sand-color;
        }

        .title {
          transform: scale(1.03);
        }
      }
    }
  }

  .control {
    @include control
  }

  &.i_1 {
    .control {
      @include control-right;

      @include mq($m) {
        right: 0;
      }
    }
  }

  &_more {
    display: block;
    padding-top: $gutter / 2;

    .btn {
      width: 100%;
    }
  }

  @include mq(0 $m - 1) {
    .text {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;

      color: $op-color;
      text-align: center;

      > a, > .a {
        position: absolute;
        height: 100%;
        // width: 100%;
        left: -$gutter;
        right: -$gutter;
        top: 0;
        background: linear-gradient(to top, rgba(#000000, 0.3), rgba(#000000, 0) 96px);

        display: flex;
        flex-direction: column;
        padding-bottom: $space-s;

        .short {
          margin-top: auto;
        }
      }


      .short {
        @include font-size-h1;
      }

      .more {
        display: none;
      }
    }
  }

  @include mq($m) {
    &_wrapper {
      // margin-bottom: $base-rhythm-line * ($base-line-height + 1) * 2;
    }

    .image {
      width: 8 / 12 * 100%;
      margin-left: 0;
      margin-right: 0;

      &:before {
        opacity: 0;
      }
    }

    .text {
      position: absolute;
      color: $primary-color;
      left:  8 / 12 * 100%;
      width: 4 / 12 * 100%;
      padding: 0 $gutter * 2;
      top: 50%;
      transform: translateY(-50%);

      .title {
        // @include font-headers;
        @include font-size(3, 4);

        text-transform: uppercase;
        letter-spacing: 0.2em;

        transition: transform 0.5s;
        transform-origin: left bottom;
        margin-top: $base-rhythm-line * ($base-line-height + 1) / 2;
      }

      .desc {
        display: block;
        margin-top: $space-s2;
      }

      .short {
        @include font-size(2.25, 4);

        text-transform: uppercase;
        letter-spacing: 0.2em;

        background: $sand-color;
        display: inline-block;
        padding: 0 $gutter / 2;
      }

      .more {
        margin-top: $base-rhythm-line * $base-line-height;

        @include mq($s) {
          margin-top: $base-rhythm-line * ($base-line-height + 1);
        }
      }
    }

    &.i_1 {
      .image {
        width: 8 / 12 * 100%;
        margin-left: 4 / 12 * 100%;
      }

      .text {
        left: 0;
        margin-left: 0;
        width: 4 / 12 * 100%;

        .title {
          margin-left: 0;
        }

        .short {
          margin-left: 0;
        }

        .desc, .more {
          margin-left: 0;
          padding-left: 0;
          padding-right: $gutter;
        }
      }
    }

    &_more {
      .btn {
        display: none;
      }
    }
  }

  @include mq($l) {
    padding: 0;
  }
}

// &_static_index_themes,
// &_themes {
//   .theme_intro {
//     .text {
//       .title {
//         @include font-size-h2;
//         @include font-headers;
//
//         // display: none;
//         transition: transform 0.5s;
//         transform-origin: left bottom;
//         margin-top: $base-rhythm-line * $base-line-height / 2;
//
//         @include mq($m) {
//           display: block;
//           margin-top: $base-rhythm-line * ($base-line-height + 1) / 2;
//         }
//       }
//     }
//   }
// }

.products_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  // TODO: Rewrite
  &_item {
    display: block;
    margin-bottom: $space-s;
    text-align: center;
    width: 100%;
    position: relative;

    .fake {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }

    .vispart {
      position: relative;

      .control {
        @include control
      }

      .promo {
        @include promo;
      }

      .control + .brand {
        top: 2.5rem;
      }

      .brand {
        @include promo;
        top: 0;
        left: 0;
        transform: translateX(0);
      }
    }


    .title {
      @include font-size-small;

      display: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .title_and_price {
      @include font-size(1.125, 1.5);


      color: $primary-color;
      margin-top: $base-rhythm-line / 2;
      // margin-bottom: -$base-rhythm-line * 2;
      z-index: 2;
      text-align: center;

      .label {
        background: rgba(40, 40, 40, .5);
        color: $op-color;
        display: inline;
        margin-right: 5px;
        padding: 0 $gutter / 4;
        text-transform: uppercase;

        &.sale {
          background: rgb(204, 12, 47);
        }

        &.out_of_stock {
          background: $highlight-color;
        }
      }

      .price {
        @include font-size(1.375, 2);
        > div {
          display: inline;
        }

        &_last {
          // @include font-size-bigger;

          &.red {
            color: rgb(204, 12, 47);
          }
        }

        &_old {
          text-decoration: line-through;
           margin-left: $gutter / 2;
        }
      }

      @include mq($s) {
        @include font-size-small;

        margin-top: $base-rhythm-line;
        // margin-bottom: -$base-rhythm-line;
      }
    }

    .image {
      @include aspect-ratio(4, 5);

      background: $sand-color;

      img{
        // padding: $base-rhythm-line;
        background-color: #F7F8F5;

        @include mq($s) {
          // padding: $base-rhythm-line * 3;
        }
      }
    }

    &.i_0 {
      @include column-width(7, 12);

      @include mq($l) {
        @include column-width(6, 12);
      }
    }

    &.i_1 {
      @include column-width(4, 12);
      @include column-shift(1, left, 12);

      align-self: flex-end;

      &.ao {
        @include column-shift(7, left, 12);
      }

      @include mq($l) {
        @include column-shift(1, right, 12);
      }
    }

    &.i_2, &.i_5 {
      @include column-width(5, 12);
      @include column-shift(4, left, 12);
      @include column-shift(3, right, 12);
    }

    &.i_3 {
      @include column-width(4, 12);
    }

    &.i_4 {
      @include column-width(7, 12);
      @include column-shift(1, left, 12);
    }
  }

  @include mq($s) {
    &_item {
      margin-bottom: $space-s2;
    }
  }

  @include mq($m) {
    padding: 0 $gutter;
  }

  @include mq($l) {
    padding: 0;

    &_item {
      // margin-bottom: $space-m2;
    }
  }
}

.kits_list {
  &_item {
    cursor: pointer;
    padding-bottom: $base-rhythm-line * 5;
    position: relative;

    &_wrapper {
      margin-bottom: $space-s2;

      .kit_products {
        &_wrapper {
          display: none;
          margin-left: -$gutter / 2;
          margin-right: -$gutter / 2;

        }

        &_link {
          text-align: center;

          .btn {
            @include font-size(1.25);

            letter-spacing: 0.1em;
            margin: $base-rhythm-line 0;
            text-transform: uppercase;
            padding: 0 $gutter / 2;
            min-width: 0;
          }
        }

        &_list {
          display: flex;

          &_item {
            padding: 0 $gutter / 2;
            position: relative;

            width: 45%;

            .fake {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              z-index: 2;
            }

            .product_title {
              @include font-size(1.125, 1.5);

              white-space: nowrap;
              overflow: hidden;
              margin-bottom: $base-rhythm-line;

              @include mq($s) {
                @include font-size-common;
              }
              // display: none;
            }

            .price {
              @include font-size(1.375, 2);
              text-align: center;

              .more {
                @include font-size(1.25);

                letter-spacing: 0.1em;
                margin: $base-rhythm-line 0;
                text-transform: uppercase;
                padding: 0 $gutter / 2;
                position: relative;
                min-width: 0;
                z-index: 3;
              }

              > div {
                display: inline;
              }

              &_last {
                // @include font-size-bigger;

                &.red {
                  color: rgb(204, 12, 47);
                }
              }

              &_old {
                margin-left: $gutter / 2;
                text-decoration: line-through;
              }

              @include mq($s) {
                @include font-size-small;
              }
            }

            .image {
              @include aspect-ratio(4, 5);
              background: $sand-color;

              .out {
                align-items: center;
                background: rgba(255, 255, 255, 0.8);
                display: flex;
                justify-content: center;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 1;

                .msg {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    .btm {
      position: absolute;
      bottom: $base-rhythm-line;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
      padding-right: 1.75rem;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        background: {
          image: image_url('icons/top.svg');
          position: center;
          repeat: no-repeat;
          size: $base-rhythm-line * 4;
        }

        transform: rotateX(180deg);
        transition: transform 0.3s;
      }

      @include mq($l) {
        padding-right: 2.25rem;

        &:after {
          width: 2rem;
          height: 2rem;

          background: {
            size: $base-rhythm-line * 5;
          }
        }
      }
    }

    .control {
      @include control
    }

    &.i_1 {
      .control {
        @include control-right
      }
    }

    &.active {
      .btm {
        &:after {
          transform: none;
        }
      }
    }

    @include column-pane;

    .image_0, .image_1 {
      margin-bottom: $space-s;

      .img {
        @include aspect-ratio(4, 5);

        background: $sand-color;
      }
    }

    .image_0 {
      @include column-width(3, 4);
    }

    .image_1 {
      margin-bottom: 0;
    }

    .title {
      @include column-width(1, 4);
      position: relative;

      .rotate {
        width: 100%;
        height: 100%;

        span {
          display: none;

          @include mq(0 ($s - 1)) {

            @include font-size-h2;
            @include font-headers;

            box-sizing: content-box;
            display: block;
            height: 74px;
            overflow: hidden;
            padding: 0.5 * $space-s 0 0 $space-s;
            position: absolute;
            text-align: center;
            transform: rotate(-90deg) translate(0%, 0%);
            transform-origin: left top;
            top: 100%;
            width: 270px;
          }
        }
      }
    }

    .image_1, .count {
      @include column-width(2, 4);
    }

    .count {
      align-self: center;
      text-align: center;
      padding: 0 $gutter;

      .toggle {
        max-width: 120px;
        margin: auto;
      }
    }

    @include mq($s) {
      &_wrapper {
        margin-bottom: $space-m2;
      }

    }

    @include mq($m) {
      padding-bottom: 0;

      &.i_0 {
        .btm {
          left: 25%;
        }

        .control {
          left: $gutter;
        }
      }

      &.i_1 {
        .btm {
          left: 75%;
        }
      }


      .btm {
        bottom: $base-rhythm-line * -5;
      }

      &_wrapper {
        margin-bottom: $space-m2 * 2;
        // padding-bottom: 0;

        .kit_products {
          &_wrapper {
            padding-top: $space-m2;
            margin-left: 0;
            margin-right: 0;
          }

          &_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &_item {
              @include page-static-gutter;

              width: 25%;

              .product_title {
                display: block;
              }

              .image {
                // @include aspect-ratio(4, 5);
              }
            }
          }
        }
      }

      .image_0 {
        @include column-width(6, 12);
        @include page-static-gutter;
        margin-bottom: 0;
      }

      .image_1 {
        align-self: center;
        margin-bottom: 0;

        @include column-width(4, 12);
        @include column-shift(1, left, 12);
        @include column-shift(1, right, 12);
      }

      .count {
        position: absolute;
        left: 50%;
        width: 50%;
        top: 88%;

        .toggle {
          max-width: 135px;
        }

        @include mq($l) {
          top: 85%;
        }
      }

      .title {
        position: absolute;
        left: 50%;
        width: 50%;
        bottom: 87%;

        .rotate {

          span {
            @include font-size-h2;
            @include font-headers;

            display: block;
            margin-left: 1 / 6 * 100%;
            margin-right: 1 / 6 * 100%;


          }
        }
      }
    }

    @include mq($l) {
      &.i_0 {
        .control {
          left: 0;
        }
      }
      .image_0 {
        padding: 0;
      }

      &_wrapper {
        .kit_products {
          margin-left: -$gutter;
          margin-right: -$gutter;
        }
      }
    }



    &.i_1 {
      .title { order: -4; }
      .image_0 {
        @include column-width(3, 4);

        order: -3;
      }
      .image_1 {
        @include column-width(1, 2);

        order: -2;
      }
      .count { order: -1; }

      @include mq($m) {
        .image_0 {
          @include column-width(6, 12);
          @include column-shift(0, left, 12);
          @include column-shift(0, right, 12);

          order: -2;
        }

        .image_1 {
          align-self: center;
          @include column-width(4, 12);
          @include column-shift(1, left, 12);
          @include column-shift(1, right, 12);

          order: -3;
        }

        .count {
          left: 0;
        }

        .title {
          left: 0;
        }
      }
    }
  }
}
