&_theme {
  &_intro {
    .siblings {
      @include font-size-small;

      display: none;

      &_item {
        white-space: nowrap;
      }

      @include mq($s) {
        display: flex;
        justify-content: space-between;

        &_item {
          padding: $base-rhythm-line * 2.5 0;

          .full {
            display: none;
          }
        }

      }
    }

    .theme {
      display: block;
      position: relative;
      // position: absolute;
      // width: 100%;
      // left: $gutter;
      // right: $gutter;
      // top: $space-m;
      // transform: translateY(-50%);
      // padding: 0 $gutter;
      margin-bottom: $space-m;

      .image {
        @include aspect-ratio(4, 5);

        background: {
          color: #f1f1f1;
          size: cover;
          position: center;
        }
        // width: 3/ 4 * 100%;
      }

      .text {
        position: absolute;
        left: 1 / 3 * 100%;
        right: $gutter;
        top: 50%;

        .title {
          @include font-size(4.25, 5);

          font-weight: 300;
          font-family: 'Cormorant', serif;
        }

        .desc {
          display: none;
        }
      }
    }


    @each $category in business date walk holiday party white moms  {
      &.#{$category} {
        .image {
          background-image: image_url('pages/index/#{$category}.jpg');
        }
      }
    }

    @include mq($s) {
      .theme {
        margin-bottom: $space-m2 * 2;
        // position: re;
        height: calc(100vh - 14rem);

        .image {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 9 / 12 * 100%;

          &:before {
            content: none;
          }
        }

        .text {
          // left: 50%;
          transform: translateY(-50%);

          .title {
            @include font-size(10, 9);
          }

          .desc {
            display: block;
            margin-top: $space-s2;
          }
        }
      }
    }

    @include mq($m) {
      padding: 0 $gutter;

      .siblings {
        &_item {
          .full {
            display: block;
          }

          .short {
            display: none;
          }
        }
      }

      .theme {
        .text {
          left: 50%;

          .desc {
            margin-left: 2 / 6 * 100%;
          }
        }
      }
    }

    @include mq($l) {
      padding: 0;
      // height: calc(100vh - 7.5rem);

      .theme {
        .image {
          // left: $gutter;
        }

        .text {
          .title {
            // @include font-size(14, 13);
          }

          .desc {
            margin-left: 4 / 6 * 100%;
          }
        }
      }
    }

    @include mq($xl) {
      .theme {
        height: calc(100vh - 15.5rem);

        .text {
          .title {
            @include font-size(14, 13);
          }
        }
      }
    }
  }


  &_products {
  }

  &_footer {
    .inst {
      @include font-size-small;

      margin-bottom: $space-m;
      text-align: center;
      position: relative;

      > a {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }

      .name {
        @include font-size-h1;

        background: {
          image: image_url('icons/instagram.svg');
          size: $base-rhythm-line * 4;
          position: center $base-rhythm-line / 2;
        }

        font-weight: 300;
        font-family: 'Cormorant', serif;
        font-style: italic;
        text-transform: lowercase;

        margin: $base-rhythm-line * 5 auto 0;
        padding: $base-rhythm-line * 5 0 $base-rhythm-line;
      }
    }

    .next {
      .theme {
        position: relative;

        .image {
          @include aspect-ratio(5, 4);

          background: {
            color: #f1f1f1;
            size: cover;
            position: center;
          }

          @each $category in business date walk holiday party white moms  {
            &.#{$category} {
              background-image: image_url('pages/index/#{$category}.jpg');
            }
          }
        }

        .title {
          @include font-size-h1;

          position: absolute;
          left: 15%;
          top: 50%;
          transform: translateY(-50%);
          font-weight: 300;
          font-family: 'Cormorant', serif;
        }

        > a {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
        }
      }
    }

    @include mq($s) {
      display: flex;

      .inst {
        @include column-width(6, 12);

        align-self: center;
        margin-bottom: 0;
      }

      .next {
        @include column-width(6, 12);
      }
    }

    @include mq($m) {
      .next {
        .theme {
          .image {
            width: 4 / 6 * 100%;
          }

          .title {
            left: 40%;
          }
        }

      }
    }
  }
}

.products_list {
  display: flex;
  flex-wrap: wrap;

  // TODO: Rewrite
  &_item {
    margin-bottom: $space-s;
    width: 100%;

    .sh {
      position: relative;
      text-align: center;

      > a {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }

      .title {
        @include font-size-small;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: none;
      }
    }


    .image {
      @include aspect-ratio(4, 5);

      margin-bottom: $base-rhythm-line;
    }

    .price {
      margin-bottom: $base-rhythm-line * 2;
    }

    .desc {

    }

    .more {
      @include font-size-small;

      margin-bottom: $base-rhythm-line * 2;
      max-width: 475px;

      .buy {
        display: flex;

        .sizes {
          border: 1px solid $separator-color;
          margin-right: $gutter / 2;
          padding: $base-rhythm-line;
          text-align: center;
          width: 80px;

        }

        .add {
          background-color: $sand-color;
          padding: $base-rhythm-line;
          text-align: center;
          flex-grow: 1;
        }
      }

      .goto {
        text-align: center;
        display: block;
        margin-top: $base-rhythm-line;
        border: 1px solid $separator-color;
        padding: $base-rhythm-line;
      }
    }

    .pre {
      display: none;

      margin-bottom: $base-rhythm-line * 2;
    }

    &.i_0 {
      @include column-width(6, 12);

      .image {
        img{
          padding: 5%;
          background-color: $sand-color;
        }
      }
    }

    &.i_1 {
      @include column-width(4, 12);
      @include column-shift(1, left, 12);
      @include column-shift(1, right, 12);

      align-self: flex-end;

      &.ao {
        @include column-shift(7, left, 12);
      }
    }

    &.i_2, &.i_5, &.i_8 {
      @include column-width(5, 12);
      @include column-shift(4, left, 12);
      @include column-shift(3, right, 12);
    }

    &.i_3 {
      @include column-width(4, 12);
      @include column-shift(1, left, 12);
    }

    &.i_4 {
      @include column-width(6, 12);
      @include column-shift(1, left, 12);

      .image {
        img{
          padding: 5%;
          background-color: #f9f9f9;
        }
      }

      &.ao {
        @include column-shift(5, left, 12);
      }
    }

    &.has_opnd {
      // opacity: 0;
      // visibility: hidden;
      // display: none;
    }

    &_pre {
      .title {
        display: block;
      }
    }

    &.o {
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 100%;

      .pre {
        display: block;

        @include mq($m) {
          display: flex;

          .image {
            width: 50%;
          }

          .text {
            width: 4 / 12 * 100%;
            margin-left: 1 / 12 * 100%;
          }
        }
      }

      .sh {
        display: none;
      }
    }
  }

  @include mq($s) {


    &_item {
      // margin-bottom: $space-s2 * 3;


    }
  }

  @include mq($m) {
    padding: 0 $gutter;
  }

  @include mq($l) {
    padding: 0;
  }
}