&_themes {
  &_themes {
    .theme_intro {
      &.i_0 {
        margin-right: 1 / 4 * 100%;
        width: 3 / 4 * 100%;
      }

      &.i_1 {
        width: 3 / 4 * 100%;
        margin-left: 1 / 4 * 100%;
      }
    }
  }
}