&_theme {
  padding-top: ($base-rhythm-line * 8 + $space-m);

  &_intro {
    margin-bottom: $space-m;

    .fake_text {
      .title {
        @include font-size-h1;
        @include font-headers;
        @include lv4;

        margin-bottom: $base-rhythm-line * $base-line-height;
        text-align: center;
        transition: transform 0.5s;
        transform-origin: left bottom;

        @include mq($m) {
          display: none;
        }
      }
    }

    @include mq($m) {
      padding: 0 $gutter;
    }

    @include mq($l) {
      padding: 0;
    }
  }

  &_products {
    &_empty {
      @include font-size-h2;

      margin-bottom: $space-m2;
      text-align: center;
    }
  }

  &_themes {
    .theme_intro {
      visibility: hidden;
      transform: translateY(8rem);
      opacity: 0;

      transition: opacity 1s, transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);

      &.vis {
        visibility: visible;
        transform: none;

        opacity: 1;
      }
    }
  }

  &_footer {
    .inst {
      @include font-size-small;

      margin-bottom: $space-m;
      text-align: center;
      position: relative;

      > a {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }

      .name {
        @include font-headers;
        @include font-size-h3;

        background: {
          image: image_url('icons/instagram.svg');
          size: $base-rhythm-line * 4;
          position: center $base-rhythm-line / 2;
        }


        font-style: italic;
        text-transform: lowercase;

        margin: $base-rhythm-line auto 0;
        padding: $base-rhythm-line * 5 0 $base-rhythm-line;

        @include mq($s) {
          margin: $base-rhythm-line * 2 auto 0;
        }
      }
    }

    .next {
      .theme {
        position: relative;

        .image {
          @include aspect-ratio(5, 4);

          background: {
            color: #f1f1f1;
            size: cover;
            position: top center;
          }

          &:before {
            background: $primary-color;
            opacity: 0.3;
          }

          @each $category in business active party special walk holiday young warm {
            &.#{$category} {
              background-image: image_url('pages/index/#{$category}.jpg');
            }
          }
        }

        .title {
          @include font-size-h1;

          color: $op-color;
          position: absolute;
          left: 15%;
          top: 50%;
          transform: translateY(-50%);
          font-weight: 300;
          font-family: 'Cormorant', serif;
        }

        > a {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
        }
      }
    }

    @include mq($s) {
      display: flex;

      .inst {
        @include column-width(6, 12);

        align-self: center;
        margin-bottom: 0;
      }

      .next {
        @include column-width(6, 12);
      }
    }

    @include mq($m) {
      .next {
        .theme {
          .image {
            width: 4 / 6 * 100%;

            &:before {
              // background: $primary-color;
              opacity: 0;
            }
          }

          .title {
            color: $primary-color;
            left: 40%;
          }
        }

      }
    }
  }

  @include mq($s) {
    padding-top: $base-rhythm-line * 20;
  }

  @include mq($xl) {
    padding-top: $base-rhythm-line * 23;
  }

  &_form {
    .form {
      max-width: $s;
    }
  }
}

.theme_intro {
  display: block;
  position: relative;

  // > a {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 80%;
  //   z-index: 2;
  // }

  .image {
    @include aspect-ratio(4, 5);
    margin-left: -$gutter;
    margin-right: -$gutter;
    overflow: hidden;

    // img {
    //   // transition: transform 1.6s;
    //   bottom: auto;
    //   height: auto;
    // }
  }

  .text {
    .more {
      margin-top: $base-rhythm-line * $base-line-height;

      @include mq($s) {
        margin-top: $base-rhythm-line * ($base-line-height + 1);
      }
    }

    .title {
      @include font-size-h1;
      @include font-headers;

      display: none;
      transition: transform 0.5s;
      transform-origin: left bottom;
      margin-top: $base-rhythm-line * $base-line-height / 2;

      @include mq($m) {
        display: block;
        margin-top: $base-rhythm-line * ($base-line-height + 1) / 2;
      }
    }

    .short {
      @include font-size-small();

      background: $sand-color;
      display: inline-block;
      padding: 0 $gutter / 2;

      @include mq($m) {
        @include font-size(2.25, 4);
      }

      // letter-spacing: 0.2em;
      // text-transform: uppercase;

    }

    .desc {
      // @include font-headers;
      // @include font-size-h2;
      display: none;
      @include font-size(2, 4);

      // font-style: italic;

    }


    .btn_gr {
      padding: $base-rhythm-line / 2 0;
      width: 100%;
      text-align: center;
      max-width: 260px;
    }

    > a {
      display: block;

      &:hover {
        .btn {
          background-color: $sand-color;
        }

        .title {
          transform: scale(1.03);
        }
      }
    }
  }

  .control {
    @include control
  }

  @each $category in business active party special walk holiday young warm {
    &.#{$category} {
      .image {
        .img {
          background-image: image_url('pages/index/#{$category}.jpg');
        }
      }
    }
  }

  &.i_1 {

    .control {
      @include control-right;

      @include mq($m) {
        right: 0;
      }
    }
  }

  @include mq($m) {
    > a {
      // width: 8 / 12 * 100%;
      height: 100%;
    }

    .image {
      width: 8 / 12 * 100%;
      margin-left: 0;
      margin-right: 0;

      &:before {
        opacity: 0;
      }
    }

    .text {
      position: absolute;
      color: $primary-color;
      left:  8 / 12 * 100%;
      width: 4 / 12 * 100%;
      padding: 0 $gutter * 2;
      top: 50%;
      transform: translateY(-50%);

      .title {
        // @include font-size-h1;
        @include font-headers;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include font-size(5.625, 6);
        // margin-left: calc(2 / 6 * 100% + #{$gutter * 2});
        display: block;
      }

      .desc {
        display: block;
        margin-top: $space-s2;
        // padding-left: $gutter * 2;
        // margin-left: 2 / 6 * 100%;
      }

      .short {
        // margin-left: calc(2 / 6 * 100% + #{$gutter * 2});
      }

      .more {
        // padding-left: $gutter * 2;
        // margin-left: 2 / 6 * 100%;
      }
    }

    &.i_1 {
      .image {
        width: 8 / 12 * 100%;
        margin-left: 4 / 12 * 100%;
      }

      > a {
        // width: 8 / 12 * 100%;
        // margin-left: 4 / 12 * 100%;
      }

      .text {
        left: 0;
        margin-left: 0;
        width: 4 / 12 * 100%;

        .title {
          margin-left: 0;
        }

        .short {
          margin-left: 0;
        }

        .desc, .more {
          margin-left: 0;
          padding-left: 0;
          padding-right: $gutter;
        }
      }
    }
  }

  @include mq($l) {
    padding: 0;
  }
}

&_static_index_themes,
&_themes {
  .theme_intro {
    .text {
      .title {
        @include font-size-h2;
        @include font-headers;

        display: none;
        transition: transform 0.5s;
        transform-origin: left bottom;
        margin-top: $base-rhythm-line * $base-line-height / 2;

        @include mq($m) {
          display: block;
          margin-top: $base-rhythm-line * ($base-line-height + 1) / 2;
        }
      }
    }

    .fake_text {
      .title {
        @include font-size-h2;
        @include font-headers;
        @include lv4;

        margin-bottom: $base-rhythm-line * $base-line-height;
        text-align: center;
        transition: transform 0.5s;
        transform-origin: left bottom;

        @include mq($m) {
          display: none;
        }
      }
    }
  }
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  // TODO: Rewrite
  &_item {
    display: block;
    margin-bottom: $space-s;
    text-align: center;
    width: 100%;
    position: relative;

    .fake {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }

    .vispart {
      position: relative;

      .control {
        @include control
      }
    }


    .title {
      @include font-size-small;

      display: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .title_and_price {
      @include font-size(1.125, 1.5);


      color: $primary-color;
      margin-top: $base-rhythm-line / 2;
      // margin-bottom: -$base-rhythm-line * 2;
      z-index: 2;
      text-align: center;

      .price {
        > div {
          display: inline;
        }

        &_last {
          // @include font-size-bigger;

          &.red {
            color: rgb(204, 12, 47);
          }
        }

        &_old {
          text-decoration: line-through;
           margin-left: $gutter / 2;
        }
      }

      @include mq($s) {
        @include font-size-small;

        margin-top: $base-rhythm-line;
        // margin-bottom: -$base-rhythm-line;
      }
    }

    .image {
      @include aspect-ratio(4, 5);

      background: $sand-color;

      img{
        // padding: $base-rhythm-line;
        background-color: #F7F8F5;

        @include mq($s) {
          // padding: $base-rhythm-line * 3;
        }
      }
    }

    &.i_0 {
      @include column-width(7, 12);

      @include mq($l) {
        @include column-width(6, 12);
      }
    }

    &.i_1 {
      @include column-width(4, 12);
      @include column-shift(1, left, 12);

      align-self: flex-end;

      &.ao {
        @include column-shift(7, left, 12);
      }

      @include mq($l) {
        @include column-shift(1, right, 12);
      }
    }

    &.i_2, &.i_5 {
      @include column-width(5, 12);
      @include column-shift(4, left, 12);
      @include column-shift(3, right, 12);
    }

    &.i_3 {
      @include column-width(4, 12);
    }

    &.i_4 {
      @include column-width(7, 12);
      @include column-shift(1, left, 12);
    }
  }

  @include mq($s) {
    &_item {
      margin-bottom: $space-s2;
    }
  }

  @include mq($m) {
    padding: 0 $gutter;
  }

  @include mq($l) {
    padding: 0;

    &_item {
      // margin-bottom: $space-m2;
    }
  }
}

.kits_list {
  &_item {
    cursor: pointer;

    &_wrapper {
      margin-bottom: $space-s;

      .kit_products {
        &_wrapper {
          display: none;
          margin-left: -$gutter / 2;
          margin-right: -$gutter / 2;

        }

        &_link {
          text-align: center;

          .btn {
            @include font-size(1.25);

            letter-spacing: 0.1em;
            margin: $base-rhythm-line 0;
            text-transform: uppercase;
            padding: 0 $gutter / 2;
            min-width: 0;
          }
        }

        &_list {
          display: flex;

          &_item {
            padding: 0 $gutter / 2;
            position: relative;

            width: 45%;

            .fake {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              z-index: 2;
            }

            .product_title {
              @include font-size(1.125, 1.5);

              white-space: nowrap;
              overflow: hidden;
              margin-bottom: $base-rhythm-line;

              @include mq($s) {
                @include font-size-common;
              }
              // display: none;
            }

            .price {
              @include font-size(1.125, 1.5);
              text-align: center;

              .more {
                @include font-size(1.25);

                letter-spacing: 0.1em;
                margin: $base-rhythm-line 0;
                text-transform: uppercase;
                padding: 0 $gutter / 2;
                position: relative;
                min-width: 0;
                z-index: 3;
              }

              > div {
                display: inline;
              }

              &_last {
                // @include font-size-bigger;

                &.red {
                  color: rgb(204, 12, 47);
                }
              }

              &_old {
                margin-left: $gutter / 2;
                text-decoration: line-through;
              }

              @include mq($s) {
                @include font-size-small;
              }
            }

            .image {
              @include aspect-ratio(4, 5);

              .out {
                align-items: center;
                background: rgba(255, 255, 255, 0.8);
                display: flex;
                justify-content: center;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 1;

                .msg {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    .control {
      @include control
    }

    &.i_1 {

      .control {
        @include control-right
      }
    }


    position: relative;

    @include column-pane;

    .image_0, .image_1 {
      margin-bottom: $space-s;

      .img {
        @include aspect-ratio(4, 5);

        background: $sand-color;
      }
    }

    .image_0 {
      @include column-width(3, 4);
    }

    .title {
      @include column-width(1, 4);
      position: relative;

      .rotate {
        width: 100%;
        height: 100%;

        span {
          display: none;

          @include mq(0 ($s - 1)) {

            @include font-size-h2;
            @include font-headers;

            box-sizing: content-box;
            display: block;
            height: 74px;
            overflow: hidden;
            padding: 0.5 * $space-s 0 0 $space-s;
            position: absolute;
            text-align: center;
            transform: rotate(-90deg) translate(0%, 0%);
            transform-origin: left top;
            top: 100%;
            width: 270px;
          }
        }
      }
    }

    .image_1, .count {
      @include column-width(2, 4);
    }

    .count {
      align-self: center;
      text-align: center;
      padding: 0 $gutter;

      .toggle {
        @include font-size-small;
      }

      .btn {
        @include font-size(1.25);

        letter-spacing: 0.1em;
        margin-top: $base-rhythm-line;
        text-transform: uppercase;
        padding: 0 $gutter / 2;
        min-width: 100px;
      }
    }

    @include mq($s) {
      &_wrapper {
        margin-bottom: $space-m2;
      }

    }

    @include mq($m) {
      &.i_0 {
        .control {
          left: $gutter;
        }
      }

      &_wrapper {
        margin-bottom: $space-m2 * 2;


        .kit_products {
          &_wrapper {
            padding-top: $space-m2;
            // padding-left: $gutter;
            // padding-right: $gutter;

            margin-left: 0;
            margin-right: 0;
          }

          &_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &_item {
              @include page-static-gutter;

              width: 25%;

              .product_title {
                display: block;
              }

              .image {
                // @include aspect-ratio(4, 5);
              }
            }
          }
        }
      }

      .image_0 {
        @include column-width(6, 12);
        @include page-static-gutter;
        margin-bottom: 0;
      }

      .image_1 {
        align-self: center;
        margin-bottom: 0;

        @include column-width(4, 12);
        @include column-shift(1, left, 12);
        @include column-shift(1, right, 12);
      }

      .count {
        position: absolute;
        left: 50%;
        width: 50%;
        top: 88%;

        @include mq($l) {
          top: 85%;
        }
      }

      .title {
        position: absolute;
        left: 50%;
        width: 50%;
        bottom: 87%;

        .rotate {

          span {
            @include font-size-h2;
            @include font-headers;

            display: block;
            margin-left: 1 / 6 * 100%;
            margin-right: 1 / 6 * 100%;


          }
        }
      }
    }

    @include mq($l) {
      &.i_0 {
        .control {
          left: 0;
        }
      }
      .image_0 {
        padding: 0;
      }

      &_wrapper {
        .kit_products {
          margin-left: -$gutter;
          margin-right: -$gutter;
        }
      }
    }



    &.i_1 {
      .title { order: -4; }
      .image_0 {
        @include column-width(3, 4);

        order: -3;
      }
      .image_1 {
        @include column-width(1, 2);

        order: -2;
      }
      .count { order: -1; }

      @include mq($m) {
        .image_0 {
          @include column-width(6, 12);
          @include column-shift(0, left, 12);
          @include column-shift(0, right, 12);

          order: -2;
        }

        .image_1 {
          align-self: center;
          @include column-width(4, 12);
          @include column-shift(1, left, 12);
          @include column-shift(1, right, 12);

          order: -3;
        }

        .count {
          left: 0;
        }

        .title {
          left: 0;
        }
      }
    }
  }
}
