&_themes {
  position: absolute;
  padding-top: $base-rhythm-line * $base-line-height * 3;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  width: 100%;

  &_theme {
    width: 100%;

    background: {
      size: cover;
      position: center 25%;
    }

    padding: ($base-rhythm-line * 3) $gutter;
    position: relative;

    &:before {
      background-color: #000;
      content: '';
      opacity: 0.2;
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      height: 100%;
    }

    .text {
      color: $op-color;
      position: relative;
      z-index: 1;

      .title {
        @include font-size(2);
      }

      .more {
        @include font-size(1.75);
      }
    }

    &.red {
      background-color: #9d3431;
      background-image: image_url('temp/swiper/colors/red_small.jpg');
    }

    &.yellow {
      background-color: #f6e57b;
      background-image: image_url('temp/swiper/colors/yellow_small.jpg');
    }

    &.green {
      background-color: #bea591;
      background-image: image_url('temp/swiper/colors/green_small.jpg');
    }

    &.blue {
      background-color: #9fbbc7;
      background-image: image_url('temp/swiper/colors/blue_small.jpg');
    }

    &.pink {
      background-color: #e3c7c6;
      background-image: image_url('temp/swiper/colors/pink_small.jpg');
    }

    &.white {
      background-color: #a9c1b3;
      background-image: image_url('temp/swiper/colors/white_small.jpg');
    }

    &.black {
      background-color: #49494d;
      background-image: image_url('temp/swiper/colors/black_small.jpg');
    }

    &.gray {
      background-color: #b9b9b7;
      background-image: image_url('temp/swiper/colors/gray_small.jpg');
    }

    &.business {
      background-color: #d0cbb7;
      background-image: image_url('temp/swiper/colors/business_small.jpg');
    }

    &.date {
      background-color: #b49786;
      background-image: image_url('temp/swiper/colors/date_small.jpg');
    }

    &.walk {
      background-color: #787860;
      background-image: image_url('temp/swiper/colors/walk_small.jpg');
    }

    &.holiday {
      background-color: #524e33;
      background-image: image_url('temp/swiper/colors/holiday_small.jpg');
    }

    &.country {
      background-color: #916b51;
      background-image: image_url('temp/swiper/colors/country_small.jpg');
    }

    &.party {
      background-color: #f6f3ea;
      background-image: image_url('temp/swiper/colors/party_small.jpg');
    }

    &.moms {
      background-color: #af8a60;
      background-image: image_url('temp/swiper/colors/moms_small.jpg');
    }

    &.home {
      background-color: #cec5bd;
      background-image: image_url('temp/swiper/colors/home_small.jpg');
    }
  }

  @include breakpoint($s) {
    &_theme {
      position: relative;
      width: 50%;

      .text {
        position: absolute;
        bottom: $space-m;
        padding-right: $gutter;

        .title {
          @include font-size(4.25, 5);
        }

        .more {
          margin-top: $base-rhythm-line * 3;

          > a {
            display: inline-block;
            line-height: 40px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            position: relative;

            &:after {
              background-color: $op-color;
              height: 2px;
              position: absolute;
              content: '';
              left: 0;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }

  @include breakpoint($m) {
    &_theme {
      width: 25%;
    }
  }

  @include breakpoint($l) {
    &_theme {
      width: 25%;

      .text {
        .title {
          @include font-size(5.625, 6);
        }
      }
    }
  }
}