.lookbook {

  .mood {

    &.flamingo {
      .sketch {
        background: {
          image: image_url('pages/about/golovina/xmas/back_1_1.jpg');
          size: cover;
          position: center;
        }
      }
    }

    &.running {
      .sketch {
        background: {
          image: image_url('pages/about/golovina/xmas/back_1_2.jpg');
          size: cover;
          position: center;
        }
      }
    }

    &.lake {
      .sketch {
        background: {
          image: image_url('pages/about/golovina/xmas/back_1_3.jpg');
          size: cover;
          position: center;
        }
      }
    }
  }
}
