.states {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-bottom: calc(var(--yr) * 4);

  @media (--s) {
    /* justify-content: flex-start; */
  }

  @media (--m) {
    margin: 0 calc(2 / 12 * 100%) calc(var(--yr) * 4);
  }
}

.state {
  cursor: pointer;
  font-size: calc(var(--yr) * calc(var(--fs) - 0.5));
  line-height: calc(var(--yr) * var(--lh));
  letter-spacing: 0.2em;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: var(--xr);
  }

  @media (--s) {
    &:first-child {
      margin-left: var(--xr);
    }
  }

  &.active {
    border-bottom: 2px solid;
    color: green;
  }
}
