.dl {
  margin: 0 0 calc(var(--yr) * var(--s3));
  display: grid;
  grid-template-columns: 12rem 1fr;

  & dd,
  & dt {
    margin: 0 0 calc(var(--yr) * var(--s1));
  }

  & dt {
    font-weight: var(--fw_bold);
    padding-right: var(--xr);
  }
}

.notAvailable {
  color: var(--red_color);
  margin-top: calc(var(--yr) * var(--s3));
}

.price {
  & > div {
    justify-content: flex-start;
  }
}
