.image {
  align-self: flex-start;
  composes: image from '../Variants/List.module.css';
  grid-row: 1 / span 6;
  grid-column: auto;
  background-color: var(--sep_color);
}

.carts {
  @media (--s) {
    padding-right: calc(var(--xr) * 2);
  }
}

.cart {
  display: grid;
  grid-column-gap: var(--xr);
  grid-template-columns: 6rem 1fr;
  grid-template-rows: repeat(5, auto) 1fr;

  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * 8);
  }
}

.destroy {
  color: var(--gr_color);
  cursor: pointer;
}

.root {
  display: grid;
  grid-row-gap: calc(var(--yr) * 16);

  @media (--s) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--m) {
    /* grid-template-columns: 2fr 1fr; */
  }
}

.amount {
  display: flex;
  composes: h2 from '../Fonts.module.css';
  margin-bottom: calc(var(--yr) * 2);
}

.sum {
  margin-right: 1em;
}

.unavailable {
  color: var(--red_color);
  font-weight: var(--fw_bold);
}

.form {
  max-width: 25rem;
  padding-bottom: calc(var(--yr) * var(--s4));
}

.price {
  justify-self: flex-start;

  & div {
    justify-content: flex-start;
  }
}

.delivery {
  display: grid;
  grid-column-gap: var(--xr);
  grid-template-columns: 1fr 1fr;
}

.deliveryItem {
  box-shadow: 0 0 0 1px var(--sep_color);
  cursor: pointer;
  padding: calc(var(--yr) * var(--s1)) var(--xr) calc(var(--yr) * var(--s2));
  transition: box-shadow 0.4s;

  &.active {
    box-shadow: 0 0 0 2px var(--pr_color);
  }
}

.deliveryItemDesc {
  composes: at from '../Fonts.module.css';
}
