.variants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--yr) * 6) var(--xr);

  @media (--m) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: calc(var(--yr) * 6) calc(var(--xr) * 2);
  }
}

.variant {

}

.image {
  composes: image from '../Variants/List.module.css';
}

.title {
  composes: title from '../Variants/List.module.css';
}

.desc {
  composes: desc from '../Variants/List.module.css';
}

.price {
  composes: price from '../Variants/List.module.css';
}
