.root {
  display: grid;
  height: 100%;
  grid-row-gap: calc(var(--yr) * var(--s1));
  grid-template-rows: auto 1fr;
}

.link {
  display: block;
}

.image {
  position: relative;
  display: block;

  &::before {
    display: block;
    content: '';
    padding-top: calc(4 / 3 * 100%);
    background-color: var(--ph_color);
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
  }
}

.dt {
  position: relative;
  display: flex;
  flex-direction: column;
}

.top {
  margin-bottom: auto;
}

.label {
  color: var(--gr_color);
  text-align: center;
  font-size: calc(var(--yr) * calc(var(--fs) - 0.5));

  @media (--s) {
    font-size: calc(var(--yr) * var(--fs));
  }

  &.bestseller {
    color: #343fa9;
  }

  &.sold_out {
    color: var(--orng_color);
  }

  &.last {
    color: var(--red_color);
  }

  &.latest {
    color: var(--grn_color);
  }
}

.title {
  text-align: center;

  &.withoutLabel {
    margin: 0 calc(var(--yr) * 6);
  }
}

.price {
  margin-top: var(--yr);

  & > div {
    justify-content: center;
  }
}

.wishlist {
  composes: wishlist from '../Variants/List.module.css';

  @media (--s) {
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
  }
}

.more {
  text-align: center;
  margin-top: calc(var(--yr) * var(--s2));

  /* & span {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--gr_color);
  } */
}
