.el {
  margin: 0 0 var(--yr-m) 0;
}

.lb {
  display: block;
  font-size: inherit;
  margin: 0 0 var(--yr) 0;
}

.it {
  display: block;
}

.in {
  appearance: none;
  display: block;
  width: 100%;
  margin: 0;
  border: 0;
  padding: var(--yr-xs) var(--xr);
  font-size: 1rem;
  line-height: 1.75rem;
  outline: none;
  /* font-family: 'Jost', sans-serif; */
  font-family: inherit;
  font-weight: 400;
  background: rgb(var(--theme-bg-primary-color));
  color: rgb(var(--theme-fg-primary-color));
  resize: vertical;
  box-shadow: inset 0 0 0 1px rgb(var(--theme-sp-color));
  transition: box-shadow 0.3s;
}

.in:focus {
  box-shadow: inset 0 0 0 1px rgb(var(--theme-fg-primary-color));
}

select.in:invalid {
  color: rgb(var(--theme-fg-hint-color));
}

.er {
  margin: var(--yr-xs) 0 0 0;
  color: red;
}

.sb {
  margin: var(--yr-m) 0 0;
}

.sbt {
  margin: 0 0 var(--yr-s) 0;
}

.radio {
  display: flex;
  align-items: center;
}

.radio > *:first-child {
  margin-right: var(--yr);
}

.checkbox {
  display: flex;
  align-items: flex-start;
}

.checkbox > input[type=checkbox] {
  flex-shrink: 0;
  appearance: none;
  margin: calc(var(--yr) / 2) calc(var(--yr) * 2) calc(var(--yr) / 2) 0;
  width: calc(var(--yr) * 4);
  height: calc(var(--yr) * 4);
  box-shadow: inset 0 0 0 1px rgb(var(--theme-sp-color));
  background: rgb(var(--theme-bg-primary-color));
  position: relative;
}

.checkbox > input[type=checkbox]:checked::after {
  position: absolute;
  left: var(--yr);
  top: var(--yr);
  width: calc(var(--yr) * 2);
  height: calc(var(--yr) * 2);
  content: '';
  display: block;
  background: rgb(var(--theme-fg-primary-color));
}

@media (--s) {
  .checkbox > input[type=checkbox] {
    margin: calc(var(--yr) * 1.5) calc(var(--yr) * 2) calc(var(--yr) / 1.5) 0;
  }
}


.s {
  padding: var(--yr) var(--xr);
}
