.root {

}

.image {
  position: relative;
  background-color: #f9f9f9;

  &::before {
    display: block;
    content: '';
    padding-top: calc(4 / 3 * 100%)
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--yr);
  grid-row-gap: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * var(--lh) * 2);

  &:nth-child(even) {
    & .image {
      &:nth-child(even) {
        order: -1;
      }
    }
  }

  @media(--s) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: calc(var(--xr) * 2);
    margin-bottom: calc(var(--xr) * 4);

    &:nth-child(even) {
      & .dt {
        order: -2;
      }

      & .single {
        order: 1;
        margin-right: calc(3 / 8 * 100%);
      }
    }

    &:nth-child(odd) {
      & .single {
        margin-left: calc(3 / 8 * 100%);
      }
    }
  }

  @media(--m) {
    margin-bottom: calc(var(--yr) * var(--lh) * 6);

    &:nth-child(even) {
      & .dt {
        padding-left: calc(1 / 4 * 100%);
      }
    }

    &:nth-child(odd) {
      & .dt {
        padding-right: calc(1 / 4 * 100%);
      }
    }
  }
}

.desc {
  position: relative;
  grid-column: span 2;
  text-align: center;

  @media (--s) {
    text-align: left;
    display: block;
    grid-column: auto;
    grid-column-gap: 0;
  }
}

.title {
  margin: 0 calc(var(--yr) * var(--lh) * 2);

  @media (--s) {
    margin: 0;
  }
}

.price {
  & > div {
    justify-content: center;

    @media(--s) {
      justify-content: flex-start;
    }
  }
}

.colors {
  composes: at from '../Fonts.module.css';
  grid-column: 1 / span 1;
  color: var(--gr_color);
}

.label {
  position: absolute;
  display: block;
  color: var(--gr_color);
  z-index: 1;
  top: 0;

  @media(--s) {
    position: static;
    display: inline-block;
    margin: 0;
  }
}

.dt {
  position: relative;
  grid-column: 1 / -1;

  @media(--s) {
    align-self: flex-end;
    grid-column: auto;
    display: block;
  }
}

.single {
  grid-column: auto / span 2;
}
