.root {

}

.item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--yr);
  grid-row-gap: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * var(--s3));

  &:nth-child(even) {
    & .image {
      &:nth-child(even) {
        order: -1;
      }
    }
  }

  @media(--s) {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: calc(var(--xr) * 2);

    & .image {
      grid-column: auto / span 4;
    }

    & .dt {
      grid-column: auto / span 4;
      align-self: flex-end;
      text-align: left;
    }

    & .price {
      & > div {
        justify-content: flex-start;
      }
    }

    &.single {
      & .image {
        grid-column: auto / span 5;
      }
    }

    &:nth-child(even) {
      & .image {

      }

      & .dt {
        order: -2;
        text-align: right;
      }

      & .price {
        & > div {
          justify-content: flex-end;
        }
      }


      &.single {
        & .dt {
          grid-column: 4 / span 4;
        }
      }
    }
  }

  @media(--m) {
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
  }
}

.image {
  grid-column: auto / span 6;
  position: relative;
  background-color: var(--ph_color);

  &::before {
    display: block;
    content: '';
    padding-top: calc(4 / 3 * 100%)
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
  }
}

.single {
  & .image {
    grid-column: 1 / -1;
  }
}

.dt {
  position: relative;
  grid-column: 1 / -1;
  text-align: center;
}

.title {
  margin: 0 calc(var(--yr) * var(--lh) * 2);

  @media (--s) {
    margin: 0;
  }
}

.price {
  & > div {
    justify-content: center;
  }
}

.colors {
  composes: at from '../Fonts.module.css';
  grid-column: 1 / span 1;
  color: var(--gr_color);
}

.label {
  position: absolute;
  display: block;
  color: var(--gr_color);
  z-index: 1;
  top: 0;

  @media(--s) {
    position: static;
    display: inline-block;
    margin: 0 0 calc(var(--yr) * var(--s2));
    composes: at from '../Fonts.module.css';
  }
}
