.root {
  display: flex;
  align-items: center;
  composes: small from '../Fonts.module.css';
}

.origin {
  text-decoration: line-through;
  color: var(--gr_color);
}

.last {
  margin-right: 0.75em;
}
