.root {
  @media (--m) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr;

    & .images {
      grid-column: 1 / span 6;
      grid-row: 1 / span 3;
    }

    & .title {
      align-self: start;
      grid-column: 8 / span 4;
    }

    & .variants {
      grid-column: 8 / span 4;
    }

    & .rest {
      grid-column: 8 / span 4;
    }
  }
}

.title {
  margin-bottom: calc(var(--yr) * 6);
  text-align: center;

  @media (--m) {
    text-align: left;
  }

  & h1 {
    margin-bottom: 0;
  }
}

.variants {
  margin-bottom: calc(var(--yr) * 6);
  display: flex;
}

.variant {
  padding: 2px;
  box-shadow: 0 0 0 1px var(--sep_color);
  user-select: none;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.4s;

  &:not(:last-child) {
    margin-right: calc(var(--yr) * 2);
  }

  &.active {
    box-shadow: 0 0 0 2px var(--pr_color);
  }

  & img {
    display: block;
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);

    @media (--s) {
      width: calc(var(--yr) * 8);
      height: calc(var(--yr) * 8);
    }
  }
}

.sizes {
  display: flex;
  justify-content: center;
}

.size {
  box-shadow: 0 0 0 1px var(--sep_color);
  user-select: none;
  background-color: white;
  cursor: pointer;
  text-align: center;
  width: calc(var(--yr) * 7);
  height: calc(var(--yr) * 7);
  line-height: calc(var(--yr) * 7);
  overflow: hidden;
  transition: background 0.2s, box-shadow 0.4s;

  &:hover {
    &:not(.unavailable) {
      background-color: color-mod(white shade(4%));
    }
  }

  &.active {
    background-color: color-mod(white shade(4%));
    box-shadow: 0 0 0 2px var(--pr_color);
  }

  @media (--s) {
    width: calc(var(--yr) * 9);
    height: calc(var(--yr) * 9);
    line-height: calc(var(--yr) * 9);
  }

  &:not(:last-child) {
    margin-right: calc(var(--yr) * 2);
  }
}

.rest {
  /* margin-top: calc(var(--yr) * 6); */
}

.image {
  position: relative;
  background-color: #f9f9f9;
  margin-bottom: calc(var(--yr) * 3);

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%)
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    max-width: 100%;
  }
}

.unavailable {
  color: var(--sep_color);
  box-shadow: 0 0 0 1px var(--sep_color);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    background: var(--sep_color);
    width: 100%;
    margin-left: -50%;
    transform-origin: center;
    transform: rotateZ(-45deg);
    box-shadow: 0 0 0 1px white;
  }
}

.buy {
  display: flex;
}

.price {
  margin-right: auto;
  padding-right: 0.75rem;

  & .sell {
    font-size: calc(var(--yr) * calc(var(--fs) + 2.5));
    line-height: calc(var(--yr) * calc(var(--lh) + 2));
  }

  & .origin {
    @media (--s) {
      font-size: calc(var(--yr) * calc(var(--fs) + 0.5));
    }
  }
}

.wishlist {
  padding: var(--yr);
  margin-right: var(--yr);

  & svg {
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);

    & path {
      fill: none;
      stroke: var(--pr_color);
      stroke-miterlimit: 10;
    }
  }
}

.cart {
  & button {

  }

}
