.root {
  @media (--m) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr;

    & .images {
      grid-column: 1 / span 6;
      grid-row: 1 / span 3;
    }

    & .title {
      align-self: start;
      grid-column: 8 / span 4;
    }

    & .variants {
      grid-column: 8 / span 4;
    }

    & .rest {
      grid-column: 8 / span 4;
    }
  }
}

.title {
  margin-bottom: calc(var(--yr) * 6);
  text-align: center;

  @media (--m) {
    text-align: left;
  }

  & h1 {
    margin-bottom: 0;
  }
}

.variants {
  margin: calc(var(--yr) * -4) 0 calc(var(--yr) * 4);

  @media (--m) {
    margin: 0 0 calc(var(--yr) * 8);
  }
}

.sizes {
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--yr) * 8);


  @media (--m) {
    margin-bottom: calc(var(--yr) * 10);
    justify-content: flex-start;
  }
}

.size {
  box-shadow: 0 0 0 1px var(--sep_color);
  user-select: none;
  background-color: white;
  cursor: pointer;
  text-align: center;
  width: calc(var(--yr) * 7);
  height: calc(var(--yr) * 7);
  line-height: calc(var(--yr) * 7);
  overflow: hidden;
  transition: background 0.2s, box-shadow 0.4s;

  &:hover {
    &:not(.unavailable) {
      background-color: color-mod(white shade(4%));
    }
  }

  &.active {
    background-color: color-mod(white shade(4%));
    box-shadow: 0 0 0 2px var(--pr_color);
  }

  @media (--s) {
    width: calc(var(--yr) * 9);
    height: calc(var(--yr) * 9);
    line-height: calc(var(--yr) * 9);
  }

  &:not(:last-child) {
    margin-right: calc(var(--yr) * 2);
  }
}

.rest {
  /* margin-top: calc(var(--yr) * 6); */
}

.images {
  margin-bottom: calc(var(--yr) * 3);
}

.slides {
  @media (--m) {
    display: block;
  }
}

.slide {
  composes: image from './List.module.css';

  @media (--m) {
    margin-bottom: calc(var(--yr) * 8);
  }
}

.unavailable {
  color: var(--sep_color);
  box-shadow: 0 0 0 1px var(--sep_color);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    background: var(--sep_color);
    width: 100%;
    margin-left: -50%;
    transform-origin: center;
    transform: rotateZ(-45deg);
    box-shadow: 0 0 0 1px white;
  }
}

.buy {
  display: flex;
  margin-bottom: calc(var(--yr) * 6);

  @media (--m) {
    margin-bottom: calc(var(--yr) * 8);
  }
}

.price {
  margin-right: auto;
  padding-right: 0.75rem;

  & .sell {
    font-size: calc(var(--yr) * calc(var(--fs) + 2.5));
    line-height: calc(var(--yr) * calc(var(--lh) + 2));
  }

  & .origin {
    @media (--s) {
      font-size: calc(var(--yr) * calc(var(--fs) + 0.5));
    }
  }
}

.wishlist {
  padding: var(--yr);
  margin-right: var(--yr);
  user-select: none;
  cursor: pointer;

  &.active {
    & svg {
      & path {
        fill: var(--pr_color);
      }
    }
  }

  & svg {
    display: block;
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);

    & path {
      fill: none;
      stroke: var(--pr_color);
      stroke-miterlimit: 10;
    }
  }
}

.cart {
  position: relative;
}

.warning {
  position: absolute;
  bottom: 100%;
  left: 0;
  color: var(--red_color);
  font-size: calc(var(--yr) * calc(var(--fs) - 0.5));
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
