/* .root {
  position: fixed;
  height: calc(var(--yr) * 12);
  overflow: hidden;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  background: var(--ph_color);
  z-index: 4;
} */

/* .close {
  position: absolute;
  left: 0;
  top: 0;
  padding: 16px var(--xr);
  cursor: pointer;
  z-index: 3;

  @media (--m) {
    left: var(--xr);
  }

  @media (--xl) {
    left: calc(var(--xr) * 3);
  }


} */

.ad {
  align-items: center;
  display: flex;
  composes: at from './Fonts';

  @media (--s) {
    left: calc(var(--yr) * 16);
    font-size: inherit;
    line-height: inherit;
  }

  @media (--m) {
    left: calc(var(--yr) * 20);
  }

  @media (--xl) {
    left: calc(var(--yr) * 32);
  }
}

.text {
  margin-right: var(--xr);
}

.more {
  background-color: var(--pr_color);
  color: var(--wht_color);
  padding: calc(var(--yr) * 2) var(--xr);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-left: auto;
  font-size: calc(var(--yr) * calc(var(--fs) - 1));
  line-height: calc(var(--yr) * calc(var(--lh) - 1));


  @media (--s) {
    margin-left: var(--xr);
  }
}

.overlay {
  visibility: hidden;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  transition: visibility 0s ease .3s, opacity .3s;

  &.active {
    visibility: visible;
    opacity: .4;
    transition: opacity .3s;
  }
}

.size_helper {
  display: block;
  composes: at from './Fonts.module.css';
  padding: calc(var(--xr) * 4) calc(var(--xr) * 2);
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%) translateY(-50%);
  background: white;
  width: 100%;
  max-width: 400px;
  z-index: 1000;

  & :nth-child(6) {
    border-bottom: 1px solid var(--sep_color);
  }
}

.close {
  position: fixed;
  cursor: pointer;
  display: block;
  height: calc(var(--xr) * 3);
  width: calc(var(--yr) * 8);
  right: calc(var(--xr) * 2 - calc(var(--yr) * 2));
  top: calc(var(--yr) * 2);
  padding: 16px 8px;

  & svg {
    display: block;
    width: 16px;
    height: 16px;

    & line {
      stroke: var(--pr_color);
    }
  }
}

/* .more {
  right: var(--xr);
  top: 50%;
  position: absolute;
  transform: translateY(-50%);

  @media (--m) {
    right: calc(var(--xr) * 2);
  }
} */
