.root {
  position: fixed;
  height: calc(var(--yr) * 12);
  overflow: hidden;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  background: var(--ph_color);
  z-index: 4;
}

.close {
  position: absolute;
  left: 0;
  top: 0;
  padding: 16px var(--xr);
  cursor: pointer;
  z-index: 3;

  @media (--m) {
    left: var(--xr);
  }

  @media (--xl) {
    left: calc(var(--xr) * 3);
  }

  & svg {
    display: block;
    width: 16px;
    height: 16px;

    & line {
      stroke: var(--pr_color);
    }
  }
}

.ad {
  align-items: center;
  position: absolute;
  display: flex;
  left: calc(var(--yr) * 12);
  right: var(--xr);
  top: 50%;
  transform: translateY(-50%);
  composes: at from './Fonts';

  @media (--s) {
    left: calc(var(--yr) * 16);
    font-size: inherit;
    line-height: inherit;
  }

  @media (--m) {
    left: calc(var(--yr) * 20);
  }

  @media (--xl) {
    left: calc(var(--yr) * 32);
  }
}

.text {
  margin-right: var(--xr);
}

.more {
  background-color: var(--pr_color);
  color: var(--wht_color);
  padding: calc(var(--yr) * 2) var(--xr);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-left: auto;
  font-size: calc(var(--yr) * calc(var(--fs) - 1));
  line-height: calc(var(--yr) * calc(var(--lh) - 1));


  @media (--s) {
    margin-left: var(--xr);
  }
}

/* .more {
  right: var(--xr);
  top: 50%;
  position: absolute;
  transform: translateY(-50%);

  @media (--m) {
    right: calc(var(--xr) * 2);
  }
} */
