.ad {
  @media (--s) {
    left: calc(var(--yr) * 16);
  }

  @media (--m) {
    left: calc(var(--yr) * 20);
  }

  @media (--xl) {
    left: calc(var(--yr) * 32);
  }
}

.text {
  margin-right: var(--xr);
}

.more {
  display: inline-block;
  background-color: var(--pr_color);
  color: var(--wht_color);
  padding: calc(var(--yr) * 2) var(--xr);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: calc(var(--yr) * 2);
  font-size: calc(var(--yr) * calc(var(--fs) - 1));
  line-height: calc(var(--yr) * calc(var(--lh) - 1));
}

.overlay {
  visibility: hidden;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  transition: visibility 0s ease .3s, opacity .3s;

  &.active {
    visibility: visible;
    opacity: .4;
    transition: opacity .3s;
  }
}

.size_helper {
  display: block;
  padding: calc(var(--xr) * 4) calc(var(--xr) * 2);
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%) translateY(-50%);
  background: white;
  width: 100%;
  max-width: 400px;
  z-index: 1000;

  & :nth-child(6) {
    border-bottom: 1px solid var(--sep_color);
  }
}

.close {
  position: fixed;
  cursor: pointer;
  display: block;
  height: calc(var(--xr) * 3);
  width: calc(var(--yr) * 8);
  right: calc(var(--xr) * 2 - calc(var(--yr) * 2));
  top: calc(var(--yr) * 2);
  padding: 16px 8px;

  & svg {
    display: block;
    width: 16px;
    height: 16px;

    & line {
      stroke: var(--pr_color);
    }
  }
}
