.main {
  display: inline-block;
  border-radius: 0;
  font-size: calc(var(--yr) * calc(var(--fs) - 0.5));
  line-height: calc(var(--yr) * var(--lh));
  cursor: pointer;
  appearance: none;
  outline: none;
  box-shadow: inset 0 0 0 1px var(--sep_color);
  border: 0;
  background-color: white;
  line-height: inherit;
  padding: calc(var(--yr) * 1.5) var(--xr);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: background 0.3s;
  user-select: none;

  @media (--s) {
    padding: calc(var(--yr) / 2) 2em;
  }

  &:hover {
    &:not(:disabled) {
      background: color-mod(white shade(4%));
    }
  }

  &.active {
    background-color: var(--red_color);
    color: var(--wht_color);

    &:hover {
      background-color: var(--highlight_secondary_color);
      color: var(--wht_color);
    }
  }
}

.destroy {
  margin-left: calc(var(--xr) * 4);
}
