h1, .h1 {
  font-size: calc(var(--yr) * calc(var(--fs) + 1));
  line-height: calc(var(--yr) * calc(var(--lh) + 2));
  font-weight: var(--fw_normal);

  @media (--m) {
    font-size: calc(var(--yr) * calc(var(--fs) + 2.5));
    line-height: calc(var(--yr) * calc(var(--lh) + 2));
  }
}

h1, h2 {
  margin: 0 0 calc(var(--yr) * 6);

  @media (--m) {
    margin: 0 0 calc(var(--yr) * 8);
  }
}

h2, .h2 {
  font-size: calc(var(--yr) * calc(var(--fs)));
  line-height: calc(var(--yr) * calc(var(--lh) - 1));
  text-transform: uppercase;
  letter-spacing: 2px;

  @media (--m) {
    font-size: calc(var(--yr) * calc(var(--fs) + 2.5));
    line-height: calc(var(--yr) * calc(var(--lh) + 2));
  }
}

.at {
  font-size: calc(var(--yr) * calc(var(--fs) - 0.5));
  line-height: calc(var(--yr) * calc(var(--lh) - 1));

  @media (--s) {
    font-size: calc(var(--yr) * var(--fs));
    line-height: calc(var(--yr) * calc(var(--lh) + 1));
  }
}
