.root {
  background: var(--wht_color);
  height: calc(var(--yr) * 16);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0;
  width: 100%;
  z-index: 10;
  transition: height 0.2s, background 0.2s;

  &.noad {
    top: 0;
  }

  &.scrolling {
    height: calc(var(--yr) * 12);

    & .logo {
      top: calc(var(--yr) * 1.5);
    }

    & .burger,
    & .caw {
      top: 0;
    }
  }

  @media (--s) {
    height: calc(var(--yr) * 24);

    & .logo {
      top: calc(var(--yr) * 7.5);
    }

    & .burger,
    & .caw {
      top: calc(var(--yr) * 6);
    }

    &.scrolling {
      height: calc(var(--yr) * 16);

      & .logo {
        top: calc(var(--yr) * 3.5);
      }

      & .burger,
      & .caw {
        top: calc(var(--yr) * 2);
      }
    }
  }

  @media (--l) {
    background: none;
  }

  @media print {
    display: none;
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: calc(var(--yr) * 3.5);
  transform: translateX(-50%);
  z-index: 2;
  transition: top 0.2s;

  & a {
    display: block;
  }

  & svg {
    display: block;
    fill: #212121;
    width: 82px;
    height: 28px;

    @media (--s) {
      width: 106px;
      height: 36px;
    }
  }
}

.burger {
  position: absolute;
  left: var(--xr);
  top: calc(var(--yr) * 2);
  padding: calc(var(--yr) * 3);
  margin-left: calc(var(--yr) * 3 * -1);
  user-select: none;
  z-index: 3;
  transition: top 0.2s;
  cursor: pointer;

  @media (--s) {
    top: calc(var(--yr) * 10);
  }

  @media (--m) {
    left: calc(var(--xr) * 2);
  }

  @media (--xl) {
    top: calc(var(--yr) * 18);
    left: calc(var(--xr) * 4);
  }

  & svg {
    display: block;
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);

    & rect {
      fill: var(--pr_color);
      transition: 0.2s fill;
    }
  }
}

.caw {
  position: absolute;
  display: flex;
  right: 0;
  top: calc(var(--yr) * 2);
  transition: top 0.2s;

  @media (--m) {
    right: calc(var(--xr) * 1);
  }

  @media (--xl) {
    right: calc(var(--xr) * 3);
  }
}

.lang {
  color: color-mod(black tint(87%));
  font-weight: 300;
  display: none;
  line-height: calc(var(--yr) * 8);
  margin-right: calc(var(--yr) * 6);
  padding: calc(var(--yr) * 2.5) 0;

  & a {
    display: block;
    margin: 0 calc(var(--yr) * 2);
    position: relative;
    opacity: 0.3;

    &.active {
      opacity: 1;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid var(--pr_color);
      }
    }
  }

  @media (--s) {
    display: flex;
    composes: at from "./Fonts.module.css";
  }
}

.search {
  display: block;
  padding: calc(var(--yr) * 3) calc(var(--yr) * 2);

  & svg {
    display: block;
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);

    & :global {
      & .a {
        fill: none;
        stroke: var(--pr_color);
        stroke-miterlimit: 10;
      }
    }
  }
}

.wishlist {
  position: relative;
  display: block;
  padding: calc(var(--yr) * 3) calc(var(--yr) * 2);
  opacity: 0.3;
  transition: opacity 0.3s;

  &.active {
    opacity: 1;
  }

  & svg {
    display: block;
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);
  }
}

.cart {
  position: relative;
  display: block;
  padding: calc(var(--yr) * 3) calc(var(--yr) * 2);
  opacity: 0.3;

  &.active {
    opacity: 1;
  }

  & svg {
    display: block;
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);
  }
}

.counter {
  position: absolute;
  top: calc(var(--yr) * 1);
  right: calc(var(--yr) * 1);
  width: calc(var(--yr) * 4);
  height: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 4);
  font-size: calc(var(--yr) * 2.5);
  text-align: center;
  background-color: var(--pr_color);
  color: #fff;
  border-radius: 50%;
  overflow: hidden;

  &.active {
    /* opacity: 1; */
  }
}

.white {
  @media (--s) {
    background: none;

    & svg {
      transition: fill 0.2s;
    }

    & .burger {
      & svg {
        & rect {
          fill: white;
        }
      }
    }

    & .logo {
      & svg {
        fill: white;
      }
    }

    & .search {
      & svg {
        & :global {
          & .a {
            stroke: white;
          }
        }
      }
    }

    & .cart {
      & svg {
        & path {
          stroke: white;
        }
      }
    }

    & .wishlist {
      & svg {
        & path {
          stroke: white;
        }
      }
    }

    & .lang {
      color: var(--wht_color);

      & a {
        color: var(--wht_color);

        &::before {
          border-bottom: 1px solid var(--wht_color);
        }
      }
    }
  }

  @media (--l) {
    background: none;
  }
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  visibility: hidden;
  opacity: 0;
  padding: 4rem 7rem 2rem calc(var(--xr) * 2);
  transform: translateX(-3rem);
  transition-duration: 0.4s;
  transition-property: transform opacity;
  z-index: 4;
  overflow: hidden;
  overflow-y: auto;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: none;
  }

  @media (--s) {
    width: 20rem;
  }
}

.close {
  position: fixed;
  right: calc(var(--xr) * 2 - calc(var(--yr) * 2));
  top: calc(var(--yr) * 2);
  padding: 16px 8px;
  cursor: pointer;
  z-index: 3;

  @media (--s) {
    position: absolute;
  }

  & svg {
    display: block;
    width: 16px;
    height: 16px;

    & line {
      stroke: var(--pr_color);
    }
  }
}

.overlay {
  visibility: hidden;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: visibility 0s ease 0.3s, opacity 0.3s;

  &.active {
    visibility: visible;
    opacity: 0.4;
    transition: opacity 0.3s;
  }
}

.arrow {
  visibility: hidden;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(var(--yr) * 4);
  background: url(../images/icons/top.svg);
  z-index: 1;
  cursor: pointer;
  width: calc(var(--yr) * 10);
  height: calc(var(--yr) * 10);
  transition: visibility 0s ease 0.3s, opacity 0.3s;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
  }

  @media (--m) {
    bottom: calc(var(--yr) * 8);
  }
}
