.root {
  padding: calc(var(--yr) * 22) var(--xr) calc(var(--yr) * 12);

  @media (--s) {
    padding: calc(var(--yr) * 40) var(--xr) calc(var(--yr) * 12);
  }

  @media (--m) {
    padding: calc(var(--yr) * 40) calc(var(--xr) * 2) calc(var(--yr) * 12);
  }
}

.title {
  text-align: center;
}
