.root {
  padding: calc(var(--yr) * 22) var(--xr);

  @media (--s) {
    padding: calc(var(--yr) * 40) var(--xr);
  }

  @media (--m) {
    padding: calc(var(--yr) * 40) calc(var(--xr) * 2) calc(var(--yr) * 12);
  }

  @media (--l) {
    padding: calc(var(--yr) * 40) calc(2 / 16 * 100%);
  }

  @media (--xl) {
    padding: calc(var(--yr) * 62) calc(2 / 16 * 100%) calc(var(--yr) * 40);
  }
}

.root16 {
  padding: calc(var(--yr) * 22) var(--xr);

  @media (--s) {
    padding: calc(var(--yr) * 40) var(--xr);
  }

  @media (--m) {
    padding: calc(var(--yr) * 40) calc(var(--xr) * 2) calc(var(--yr) * 12);
  }

  @media (--l) {
    padding: calc(var(--yr) * 40) calc(var(--xr) * 2);
  }

  @media (--xl) {
    padding: calc(var(--yr) * 62) calc(var(--xr) * 2) calc(var(--yr) * 40);
  }
}

.gray {
  background-color: var(--ph_color);
  padding: calc(var(--yr) * 12) var(--xr) calc(var(--yr) * 12);
  margin-top: calc(var(--yr) * 22);

  @media (--s) {
    padding: calc(var(--yr) * 12) var(--xr) calc(var(--yr) * 12);
    margin-top: calc(var(--yr) * 40);
  }

  @media (--m) {
    padding: calc(var(--yr) * 12) calc(var(--xr) * 2) calc(var(--yr) * 12);
  }

  @media (--l) {
    padding: calc(var(--yr) * 12) calc(2 / 16 * 100%) calc(var(--yr) * 16);
    margin-top: calc(var(--yr) * 62);
  }

  @media print {
    margin-top: 0;
  }
}

.text {
  @media (--l) {
    margin: 0 calc(1 / 12 * 100%);
  }

  @media (--xl) {
    margin: 0 calc(2 / 12 * 100%);
  }
}

.title {
  text-align: center;
  margin: 0 0 calc(var(--yr) * 3);

  @media (--m) {
    margin: 0 0 calc(var(--yr) * 12);
  }
}
