:root {
  --yr: 0.25rem;
  --xr: 1rem;

  --pr_color: color-mod(black tint(8%));
  --gr_color: color-mod(black tint(60%));
  --sep_color: color-mod(black tint(87%));
  --red_color: #cc0c2f;
  --wht_color: #fff;
  --ph_color: #f8f8f8;


  --highlight_color: #9caa73;
  --highlight_color: var(--hl_color);
  --highlight_secondary_color: #ff5252;
  --sand_color: #F7F8F5;

  --fw_light: 300;
  --fw_normal: 400;
  --fw_bold: 500;

  --fs: 3.5;
  --lh: 5;

  --s1: 2;
  --s2: 3;
  --s3: 6;
  --s4: 9;

  @media (--s) {
    --s1: 3;
    --s2: 4;
    --s3: 8;
    --s4: 12;
  }
}

@custom-media --s (min-width: 720px);
@custom-media --m (min-width: 960px);
@custom-media --l (min-width: 1280px);
@custom-media --xl (min-width: 1600px);
