:root {
  --yr: 0.25rem;
  --xr: 1rem;

  --pr_color: color-mod(black tint(8%));
  --gr_color: color-mod(black tint(60%));
  --sep_color: color-mod(black tint(87%));
  --red_color: #cc0c2f;

  --highlight_color: #9caa73;
  --highlight_color: var(--hl_color);
  --sand_color: #F7F8F5;

  --fw_light: 300;
  --fw_normal: 400;
  --fw_bold: 600;

  --fs: 3.5;
  --lh: 6;

  --fs-s: 3;
}

@custom-media --s (min-width: 720px);
@custom-media --m (min-width: 960px);
@custom-media --l (min-width: 1280px);
@custom-media --xl (min-width: 1600px);
