.variants {
  display: grid;
  grid-row-gap: calc(var(--yr) * var(--s4));
  grid-column-gap: var(--yr);
  grid-template-columns: 1fr 1fr;

  @media (--s) {
    grid-column-gap: calc(var(--xr) * 2);
  }

  @media (--m) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
