.kit {
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--m) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    margin-bottom: calc(var(--yr) * calc(var(--s4) * 2));

    & .slider {
      grid-column: 2 / span 4;
      grid-row: span 2;
    }

    & .title {
      grid-column: 7 / span 4;
    }

    & .variants {
      grid-column: 7 / span 6;
    }
  }
}

.slider {
  position: relative;
  align-self: start;
}

.nav {
  color: white;
  position: absolute;
  z-index: 2;
  bottom: calc(var(--yr) * var(--s2));
  right: calc(var(--yr) * var(--s2));
  padding-right: 0;

  &.isSlide {
    padding-right: 66px;
  }
}

.prev, .next {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: var(--pr_color);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 0;
}

.next {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  background-image: url(../../images/icons/arr.svg);
  right: 0;
}

.prev {
  background-image: url(../../images/icons/arl.svg);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  right: 28px;
}

.images {
}

.image {
  position: relative;

  &::before {
    display: block;
    content: '';
    padding-top: calc(4 / 3 * 100%);
    background-color: var(--ph_color);
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
  }
}

.title {
  text-align: center;
  max-width: 80%;
  margin: calc(var(--yr) * var(--s2)) auto;

  & p {
    display: none;
  }

  @media (--m) {
    text-align: left;
    max-width: none;
    margin: 0 0 calc(var(--yr) * var(--s3));

    & p {
      display: block;
    }
  }
}

.additional {
  composes: at from '../Fonts.module.css';
  color: var(--gr_color);
}
