.root {
  margin: 0 var(--xr);
}

@media (--m) {
  .root {
    margin: 0 calc(var(--xr) * 2);
  }
}

@media (--l) {
  .root {
    margin: 0 calc(3 / 16 * 100%);
  }
}

.title {
  margin: 0 0 var(--yr-m);
  text-align: center;
}

.root h2 {
  margin: 0 0 var(--yr-xs);
}

