- title I18n.t('variants.all.title')
- description I18n.t('variants.all.desc')
- set_meta_tags og: { \
  image: Image.overall.map{ |image| image.photo.large.url } \
}

= react_component 'Variants/Index'
