- title I18n.t('variants.latest.title')
- description I18n.t('variants.latest.desc')
- set_meta_tags og: { \
  image: Image.latest.map{ |image| image.photo.large.url } \
}

= react_component 'Variants/Latest'
