- title I18n.t('variants.sale.title')
- description I18n.t('variants.sale.desc')
- set_meta_tags og: { \
  image: Image.sale.map{ |image| image.photo.large.url } \
}

= react_component 'Variants/Sale'
