*, *::after, *::before {
  box-sizing: border-box;
}

html {
}

body {
  background: var(--wht_color);
  color: var(--pr_color);
  font-family: 'futura-pt', sans-serif;
  font-size: calc(var(--yr) * var(--fs));
  line-height: calc(var(--yr) * var(--lh));

  @media (--s) {
    font-size: calc(var(--yr) * calc(var(--fs) + 0.5));
    line-height: calc(var(--yr) * calc(var(--lh) + 2));
  }

  &.ad {
    padding-top: calc(var(--yr) * 12);
  }
}

header {
  &.ad {
    top: calc(var(--yr) * 12);
  }
}

a {
  color: var(--pr_color);
  text-decoration: none;
}
