.variants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.item {
  padding: 1rem 0;
}

.image {
  composes: image from '../List.module.css';
}

.control {
  position: absolute;
  padding: var(--yr);
  left: 0;
  top: 0;
  width: auto;
  z-index: 5;

  & > a {
    background-color: color-mod(var(--pr_color) alpha(50%));
    display: block;
    width: 24px;
    height: 24px;

    &.edit {
      background-image: url('../../../images/edit_white.svg');
      background-size: 24px 24px;
    }
  }
}
