.promo {
  position: relative;
  cursor: pointer;
  padding: calc(var(--yr) * 4) 0;

  &.edit {
    cursor: default;

    &:after {
      background: var(--pr_color);
      height: 2px;
    }
  }

  &:after {
    content: '';
    background: var(--sep_color);
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    transition: height .3s, background .3s;
  }

  &:hover {
    &:after {
      background: var(--pr_color);
      height: 2px;
    }
  }
}
