.buttons {
  & a {
    white-space: nowrap;
    margin-bottom: calc(var(--yr) * var(--s2));
  }

  & a:not(:last-child) {
    margin-right: var(--xr);
  }

  @media (--s) {
    /* grid-template-columns: repeat(auto-fill, minmax(auto, 200px)); */
  }
}

.dl {
  margin: 0 0 calc(var(--yr) * var(--s3));
  display: grid;
  grid-template-columns: 5rem 1fr;

  & dd,
  & dt {
    margin: 0 0 calc(var(--yr) * var(--s1));
  }

  & dt {
    font-weight: var(--fw_bold);
  }

  @media (--s) {
    grid-template-columns: 7rem 1fr;
  }
}
