- set_meta_tags title: 'Golovina — расслабленная элегантность с особым послевкусием', site: nil
- description 'Интернет-магазин женской одежды Golovina'
- keywords ['мята', 'минт стор', 'mintstore', 'mint store', 'golovina', 'головина']

- set_meta_tags og: { image: @slides.map{ |i| asset_url(i.image.large.url) } }

- set_meta_tags alternate: I18n.available_locales.map { |locale| [locale, locale_url_for(:root_url, locale)] }.to_h
- set_meta_tags canonical: locale_url_for(:root_url, I18n.locale)

= react_component \
  'Pages/Index',
  { \
    slides: @slides.map{ |slide| slide.slice(:id, :name, :link, :link_relative).merge({ image: slide.image.large.url }) },
    instagram: Rails.application.credentials[Rails.env.to_sym][:instagram] \
  },
  { \
    prerender: Rails.env.production? \
  }
