.root {
  @media (--s) {
    margin: 0 calc(2 / 12 * 100%);
  }
}

.edit {
  margin-bottom: calc(var(--yr) * 4);
}

.category {
  display: block;
  padding: calc(var(--yr) * 4) calc(var(--yr) * 4);
  background-color: white;
  position: relative;

  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * 4);
  }

  &.active {
    & .variants {
      display: grid;
    }
  }

  @media (--s) {
    padding: calc(var(--yr) * 4) calc(var(--yr) * 14);
  }
}

.title {
  cursor: pointer;

  & .selected {
    display: inline;
    margin-left: calc(var(--yr) * 2);
  }
}

.kits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  @media (--s) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.variants {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.item {
  
  padding: 1rem 0;

  &.active {
    & .selected {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      position: absolute;
      border: 2px solid;
      background-color: color-mod(var(--pr_color) alpha(50%));
      z-index: 1;
    }
  }
}

.image {
  composes: image from '../List.module.css';
}

.control {
  position: absolute;
  padding: var(--yr);
  left: 0;
  top: 0;
  width: auto;
  z-index: 5;

  & > a {
    background-color: color-mod(var(--pr_color) alpha(50%));
    display: block;
    width: 24px;
    height: 24px;

    &.edit {
      background-image: url('../../../images/edit_white.svg');
      background-size: 24px 24px;
    }
  }
}
