.intro {
  position: relative;
  background-color: #f9f9f9;
  margin: 0 calc(var(--xr) * -1) calc(var(--yr) * 6);

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%)
  }

  & .img {
    background-image: url('../../images/contacts_intro.jpg');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
  }

  & .img::before {
    display: block;
    content: '';
    background-color: color-mod(black, alpha(30%));
    height: 100%;
    width: 100%;
  }

  @media (--s) {
    margin: 0 0 calc(var(--yr) * 16);

    &::before {
      padding-top: calc(1 / 2 * 100%)
    }
  }
}

.brand {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
}

.icon {
  margin: 0 auto calc(var(--yr) * 3);
  height: 72px;
  width: 72px;

  & svg {
    width: 100%;
    height: 100%;
  }

  @media (--s) {
    height: 96px;
    width: 96px;

    .icon {
      margin-bottom: calc(var(--yr) * 4);
    }
  }
}

.name {
  color: var(--wht_color);
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @media (--s) {
    font-size: calc(var(--yr) * 6);
    line-height: calc(var(--yr) * 8);
  }
}

.mail {
  bottom: calc(var(--yr) * 6);
  color: var(--wht_color);
  position: absolute;
  text-align: center;
  width: 100%;

  @media (--s) {
    bottom: calc(var(--yr) * 8);
  }
}

.content {
  color: var(--pr_color);
  font-size: calc(var(--yr) * var(--fs));
  line-height: calc(var(--yr) * 5);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media (--s) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
  }
}

.showcase {
  position: relative;
  background-color: #f9f9f9;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%)
  }

  & .img {
    background-image: url('../../images/contacts_intro.jpg');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
  }

  &:nth-child(3) {
    & .img {
      background-image: url('../../images/contacts_nn.jpg');
    }
  }

  @media (--s) {
    order: 1;
  }
}

.info {
  @media (--s) {
    align-self: center;
    order: 0;

    &:nth-child(4) {
      order: 2;
    }
  }
}

.info_wrapper {
  @media (--s) {
    margin: 0 auto;
    max-width: 440px;
  }
}

.city {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: calc(var(--yr) * 2);

  @media (--s) {
    margin-bottom: calc(var(--yr) * 4);
  }
}

.address {
  margin-bottom: calc(var(--yr) * 2);

  @media (--s) {
    line-height: calc(var(--yr) * 8);
  }
}

.schedule {
  margin-bottom: calc(var(--yr) * 2);

  @media (--s) {
    line-height: calc(var(--yr) * 8);
    margin-bottom: calc(var(--yr) * 8);
  }
}

.map {
  margin: 0 calc(var(--xr) * -1);

  @media (--s) {
    margin: 0;
  }
}
