&_index {
  padding-top: 0;

  &_placeholder {
    height: 200vh;
    // padding-top: 150vh;
    position: relative;

    .fade {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 100vh;
      overflow: hidden;
      transition-duration: 0.4s;
      z-index: 2;

      .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 10 / 12 * 100%;
        transform: translate(-50%, -50%);

        .desc {
          @include font-size-bigger;

          margin-top: $space-m;
          text-align: center;
          transition: 0.8s opacity 1.4s;

          &.inact {
            opacity: 0;
          }

          @include mq($m) {
            margin-top: $base-rhythm-line * 17;
          }
        }

        svg {
          .a, .b {
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 3px;
          }

          .a {
            stroke: #4b4a4b;
          }

          .b {
            stroke: #52b478;
          }
        }

        @include breakpoint($s) {
          width: 8 / 12 * 100%;
        }

        @include breakpoint($l) {
          width: 4 / 12 * 100%;
        }
      }


      .fade_out, .fade_in {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      .fade_in {
        background: {
          image: image_url('pages/index/rec.jpg');
          position: center;
          size: cover;
        }
      }

      .fade_out {
        background: {
          image: image_url('pages/index/rec_blur.jpg');
          position: center;
          size: cover;
        }
      }
    }

    .territory {
      min-height: 100vh;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 100vh;
      padding: 0 $gutter;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &_about {
        color: $op-color;
        opacity: 0;

        .desc {
          @include font-size-bigger;
        }
      }

      &_contacts {
        padding: $space-s $gutter;
        background-color: rgba($op-color, 0.7);
        margin-top: $base-rhythm-line * 15;
        opacity: 0;

        .tap {
          display: flex;
          margin-top: $space-s;

          > div {
            width: 50%;
          }
        }

        @include mq($s) {
          margin-left: auto;
          max-width: 320px;

          .tap, .address {
            margin-top: $space-s2;
          }
        }

      }

      @include mq($m) {
        &_about {
          width: 6 / 16 * 100%;
          margin-left: 2 / 16 * 100%;
        }

        &_contacts {
          width: 6 / 16 * 100%;
          max-width: none;
          margin-right: 2 / 16 * 100%;
        }
      }

      @include mq($l) {
        &_about {
          width: 4 / 16 * 100%;
        }

        &_contacts {
          padding: $space-s2 $gutter * 3;
          width: 4 / 16 * 100%;
        }
      }
    }

    &.QQ {
      .fade, .territory {
        position: absolute;
        bottom: 0;
        top: auto;
      }
    }

    &.ZZ {
      .fade {
        transform: scale(0.9);
      }
    }
  }

  &_themes {
    position: relative;
    width: 100%;
    min-height: 100vh;

    .welcome {
      padding: ($base-rhythm-line * $base-line-height  * 3 + $space-s) $gutter $space-s;

      .more {
        display: none;
        margin-top: $space-m2;
      }

      @include mq($m) {
        width: 8 / 12 * 100%;
        margin: 0 auto $space-s2;

        .more {
          display: block;
        }
      }

      @include mq($l) {
        padding: $space-s2 $gutter 0;
        position: absolute;
        left: 50%;
        top: 20%;
        width: 4 / 16 * 100%;
        margin-left: -(2 / 16 * 100%);
        text-align: center;
        z-index: 3;
      }
    }

    .themes {
      margin-bottom: $space-s;

      &_list {
        &_item {
          padding: 0 $gutter;

          &_wrp {
            position: relative;
            display: block;

            &.i_l {
              padding-bottom: 12 * $base-rhythm-line;
              margin-bottom: $base-rhythm-line * 12;
            }

            &.i_0 {
              .image_main .im {
                background-image: image_url('pages/index/i_0.jpg');
              }

              .image_sec .im {
                background-image: image_url('pages/index/i_1.jpg');
              }
            }

            &.i_1 {
              .image_main .im {
                background-image: image_url('pages/index/i_2.jpg');
              }

              .image_sec .im {
                background-image: image_url('pages/index/i_3.jpg');
              }
            }


            &:hover {
              .image {
                opacity: 0.2;
              }

              .title {
                opacity: 1;
                filter: blur(0);
              }
            }
          }

          .image {
            transition: 0.6s opacity;

            .im {
              @include aspect-ratio(4, 5);

              background: {
                color: #f1f1f1;
                size: cover;
                position: center;
              }
            }

            &_sec {
              display: block;
              position: absolute;
              width: 50%;
              right: 0;
              bottom: 0;
            }
          }

          .title {
            @include font-size-h2;

            position: absolute;
            left: $gutter;
            bottom: 0;
            right: $gutter;
            transform: translateY(100%);
            opacity: 0;
            filter: blur(20px);
            transition: 2s filter cubic-bezier(.18,1,.21,1), 2s opacity cubic-bezier(.18,1,.21,1);
          }


          @include mq($m) {
            &_wrp {
              &.i_l {
                margin-bottom: 0;
              }

              &.i_0, &.i_2, &.i_4, &.i_6, &.i_8 {
                width: 4 / 6 * 100%;
                margin-left: 2 / 6 * 100%;
                padding-bottom: 12 * $base-rhythm-line;

                .title {
                  position: absolute;
                  left: auto;
                  bottom: 70%;
                  right: 50%;
                  width: 100%;
                }

                .image_sec {
                  bottom: auto;
                  left: auto;
                  right: 0;
                  bottom: 0;
                }

              }

              &.i_1, &.i_3, &.i_5, &.i_7, &.i_9 {
                width: 4 / 6 * 100%;
                margin-right: 2 / 6 * 100%;
                padding-bottom: 0;
                padding-top: 16 * $base-rhythm-line;

                .title {
                  position: absolute;
                  left: 50%;
                  right: auto;
                  bottom: 50%;
                  width: 100%;
                }

                .image_sec {
                  bottom: auto;
                  left: auto;
                  right: -25%;
                  top: 0;
                }
              }
            }
          }

          @include mq($l) {
            &_wrp {
              &.i_l {
                width: 4 / 8 * 100%;
                margin-left: 2 / 8 * 100%;
                margin-right: 2 / 8 * 100%;
              }

              &.i_0, &.i_2, &.i_4, &.i_6, &.i_8 {
                padding-bottom: 16 * $base-rhythm-line;

                .image_sec {
                  right: -(1 / 8 * 100%);
                }
              }

              &.i_1, &.i_3, &.i_5, &.i_7, &.i_9 {
                margin-top: 18 * $base-rhythm-line;
                padding-top: 19 * $base-rhythm-line;
              }
            }
          }
        }
      }
    }

    .to_all_themes {
      margin-bottom: $space-s;
      text-align: center;

      @include mq($m) {
        display: none;
      }
    }

    @include mq($m) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &_intro {
    background-color: $op-color;

    .logo {
      padding: $space-s $gutter * 2;

      svg {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 10rem;

        .a, .b {
          fill: none;
          stroke-width: 0.5;
          stroke-linecap: round;
          stroke-linejoin: round;
        }

        .a {
          stroke: #4c4b4c;
        }

        .b {
          stroke: #51b478;
        }
      }
    }
  }

}