- set_meta_tags title: 'Golovina — элегантность с нотками мальчишества', site: nil
- description 'Интернет-магазин женской одежды Golovina.'
- keywords ['мята', 'минт стор', 'mintstore', 'mint store', 'golovina', 'головина']

- set_meta_tags og: { image: @slides.map{ |i| asset_url(i.image.large.url) } }

= react_component \
  'Index',
  { \
    slides: @slides.map{ |slide| slide.slice(:id, :name, :link).merge({ image: slide.image.large.url }) },
    instagram: Rails.application.credentials[Rails.env.to_sym][:instagram] \
  },
  { \
    prerender: Rails.env.production? \
  }
