- set_meta_tags title: 'Golovina — элегантность с нотками мальчишества', site: nil
- description 'Интернет-магазин женской одежды, обуви и аксессуаров.'
- keywords ['мята', 'минт стор', 'mintstore', 'mint store', 'golovina', 'головина']

- set_meta_tags og: { image: @slides.map{ |i| asset_url(i.image.large.url) } }

= react_component \
  'Index',
  { \
    slides: @slides.map{ |slide| { name: slide.name, link: slide.link, image: slide.image.large.url, link_name: slide.link_name } }, \
  },
  { \
    prerender: Rails.env.production? \
  }
