.images {
  position: relative;
  display: block;

  @media (--s) {
    grid-column: span 12;

    &.single {
      grid-column: auto / span 5;
    }

    &.twice {
      grid-column: auto / span 8;
    }
  }
}

.image {
  position: relative;
  background-color: var(--ph_color);

  &::before {
    display: block;
    content: '';
    padding-top: calc(4 / 3 * 100%);
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
  }

  @media (--s) {
    grid-column: auto / span 4;
  }
}

.root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: calc(var(--yr) * 2);

  @media (--s) {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.wishlist {
  cursor: pointer;
  position: absolute;
  width: calc(var(--yr) * 12);
  height: calc(var(--yr) * 12);
  right: 0;
  top: 0;
  padding: calc(var(--yr) * 3);

  & svg {
    display: block;
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);
  }

  &.active {
    & svg {
      fill: var(--pr_color);
    }
  }
}
