.variants {
  display: grid;
  grid-row-gap: calc(var(--yr) * var(--s3));

  @media (--s) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc(var(--yr) * var(--s4)) calc(var(--xr) * 2);
  }

  @media (--m) {
    grid-template-columns: 1fr 1fr;
    /* grid-gap: calc(var(--xr) * 2); */
  }

  @media (--l) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.variant {
  display: grid;
  height: 100%;
  grid-column-gap: calc(var(--yr) * var(--s1));
  grid-template-columns: 6rem 1fr;

  @media (--s) {
    grid-row-gap: calc(var(--yr) * var(--s1));
    grid-template-rows: auto 1fr;
    grid-template-columns: none;
  }
}

.link {
  display: block;
}

.image {
  position: relative;
  display: block;

  &::before {
    display: block;
    content: '';
    padding-top: calc(4 / 3 * 100%);
    background-color: var(--ph_color);
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
  }
}

.dt {
  position: relative;
  display: flex;
  flex-direction: column;
}

.top {
  margin-bottom: auto;
}

.buy {
  margin-top: calc(var(--yr) * var(--s2));

  @media (--s) {
    text-align: center;

    & :global {
      & .sizes {
        justify-content: center;
      }

      & .noSize {
        left: 50%;
        transform: translate(-50%, var(--yr));
      }
    }
  }
}

.label {
  color: var(--gr_color);
  font-size: calc(var(--yr) * calc(var(--fs) - 0.5));

  @media (--s) {
    font-size: calc(var(--yr) * var(--fs));
    text-align: center;
  }

  &.bestseller {
    color: #343fa9;
  }

  &.sold_out {
    color: var(--orng_color);
  }

  &.last {
    color: var(--red_color);
  }

  &.latest {
    color: var(--grn_color);
  }
}

.title {
  margin-right: calc(var(--yr) * 8);
  display: block;

  @media (--s) {
    margin: 0 calc(var(--yr) * 6);
    text-align: center;
  }
}

.price {
  margin-top: var(--yr);

  & > div {
    justify-content: flex-start;

    @media (--s) {
      justify-content: center;
    }
  }
}

.wishlist {
  composes: wishlist from '../../Variants/List.module.css';

  @media (--s) {
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
  }
}
