- set_meta_tags site: 'Golovina', title: [@post.title], description: @post.text

= react_component "Posts/Show/#{@post.id}", @post.slice(:id, :title, :text).merge({ images: @post.images.sort_by(&:weight_or_created).map { |i| { large: i.photo.large.url, collection: i.photo.collection.url } } }), { prerender: Rails.env.production? }
