- title @variant.product.title

= react_component 'Variants/Form', { id: @variant.id, title: @variant.product.title, product_attributes: { title: @variant.product.title, id: @variant.product.id, category_id: @variant.product.category_id }}
