- title 'Последняя вещь'
- description 'Товары которые остались в одном экземпляре'
/ - set_meta_tags og: { image: @variants.select(&:images?).first(5).map{ |variant| variant.images.sort_by{ |i| [(i.weight.to_i.zero? ? 99 : i.weight), i.created_at] }.first.photo.thumb.url } }

= react_component 'Variants/Last'
