- title 'Новые товары'
- description @variants.map(&:title).join(', ')
- set_meta_tags og: { image: @variants.map{ |variant| variant.images.sort_by{ |i| [(i.weight.to_i.zero? ? 99 : i.weight), i.created_at] }.first.photo.thumb.url } }

= react_component 'Variants/Latest'
