- title 'Новый товар'

= react_component 'Variants/Form', {colors: @colors.map{|c| {id: c.id, title: c.title}}, stores: @stores.map{|s| {id: s.id, title: s.title}}, sizes: @sizes.map{|s| {id: s.id, size: s.size}}, categories: @categories.map{|c| {id: c.id, title: c.title}}}
