- title I18n.t("variants.sections.#{params[:section]}.title")
- description I18n.t("variants.sections.#{params[:section]}.desc")
- set_meta_tags og: { \
  image: Image.section(params[:section]).map{ |image| image.photo.large.url } \
}

= react_component 'Variants/Section', { section: params[:section] }
