.item {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-gap: var(--xr);

}

.item:not(:last-child) {
  margin: 0 0 var(--yr-s);
}

.title {
  font-weight: 600;
}

.image img {
  display: block;
  max-width: 6rem;
}

.button, .delete {
  cursor: pointer;
  display: block;
  appearance: none;
  color: inherit;
  background: none;
  border: 0;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: underline;
}
