- title 'Обмен и возврат'
- description 'Возврат и обмен товара осуществляется в течение 14 дней с момента покупки в салоне и 7 дней с момента получения заказа через интернет магазин'

= react_component 'Service/Return', { user: @user }
