.counter {
  color: var(--wht_color);
  position: absolute;
  z-index: 1;
  right: var(--xr);
  top: calc(var(--yr) * 4);
  font-size: calc(var(--yr) * calc(var(--fs) + 0.5));
  line-height: calc(var(--yr) * 4);
}

.images {
  margin-bottom: calc(4 * var(--yr));
}

.image {
  & img {
    display: block;
    width: 100%;
  }
}

.title {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text {
  & img {
    display: block;
    width: 100%;
  }
}

.root {
  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);

    & .images {
      /* width: 50%; */
      overflow: hidden;;
    }
  }

  @media (--m) {
    & .text {
      padding-left: calc(1 / 6 * 100%);
    }
  }
}
