.root {
  @media (--m) {
    margin: 0 calc(2 / 12 * 100%);
  }
}

.user {
  border-bottom: 1px solid var(--sp_color);
  margin-bottom: calc(var(--yr) * var(--s3));
}

.dl {
  margin: 0 0 calc(var(--yr) * var(--s3));
  display: grid;
  grid-template-columns: 5rem 1fr;

  & dd,
  & dt {
    margin: 0 0 calc(var(--yr) * var(--s1));
  }

  & dt {
    font-weight: var(--fw_bold);
  }

  @media (--s) {
    grid-template-columns: 7rem 1fr;
  }
}

.orders {
  margin: 0 0 calc(var(--yr) * var(--s3));
  /* border-bottom: 1px solid var(--sp_color); */

  & h2 {
    display: none;
  }
}

.refunds {
  margin: 0 0 calc(var(--yr) * var(--s3));
  /* border-bottom: 1px solid var(--sp_color); */
}

.title {
  composes: h2 from '../../Fonts.module.css';
  margin: 0 0 calc(var(--yr) * var(--s2));
}
