.page.page_common.page_common_form.dz_form.dz_frm data-url=images_path data-params={ 'image[imagable_type]': 'Post', 'image[imagable_id]': @post.id }.to_json

  h1 Редактирование материала

  == render 'form'
