- set_meta_tags site: 'Golovina', title: [@post.title]

= react_component "Posts/Show/#{@post.id}", @post.slice(:id, :title, :text).merge({ images: @post.images.sort_by { |i| [(i.weight.to_i.zero? ? 99 : i.weight), i.created_at] }.map { |i| { large: i.photo.large.url, collection: i.photo.collection.url } } })
