.form {
  .error_notification {
    color: red;
    font-weight: bold;
  }

  &_desc {
    margin-bottom: $base-rhythm-line * 2;
  }

  &_inputs {
    .input {
      margin-bottom: $base-rhythm-line * 2;

      label {
        @include font-size-small;

        display: block;
        margin-bottom: $base-rhythm-line / 2;
      }

      .error {
        color: red;
        font-weight: bold;
      }

      input[type=text],
      input[type=email],
      input[type=tel],
      input[type=password],
      input[type=number],
      textarea, select {
        border: 1px solid $separator-color;;
        border-radius: 0;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        padding: 0  $gutter;
        width: 100%;

        &:focus {
          border-color: $highlight-color;
        }
      }

      &.boolean {
        label {
          input {
            margin-right: $gutter / 2;
          }
        }
      }

      &.variant_state {
        .radio {
          input {
            margin-right: $gutter / 2;
          }
        }
      }

      &.product_variants_sizes,
      &.variant_sizes,
      &.product_themes {
        display: flex;
        flex-wrap: wrap;

        label {
          // display: inline;
          width: 100%;
        }

        .checkbox {
          margin-right: $gutter;
          white-space: nowrap;

          &:last-child {
            margin-right: 0;
          }

          input {
            margin-right: $gutter / 2;
          }
        }
      }

      &.field_with_errors {
        input[type=text],
        input[type=email],
        input[type=password],
        input[type=number],
        textarea, select {
          border-color: red;
        }
      }


    }

    .thumb {
      img {
        display: block;
        max-width: 250px;
      }
    }
  }
}