.root {
  background: rgb(var(--theme-bg-secondary-color));
  flex-grow: 1;
  padding: var(--yr-xl) var(--xr);
}

@media (--m)  {
  .root {
    padding: var(--yr-xl) calc(var(--xr) * 2);
  }
}

@media (--l) {
  .root {
    padding: var(--yr-xl) calc(3 / 16 * 100%);
  }
}

.title {
  text-align: center;
  margin: 0 0 var(--yr-s);
}

.order_items {
  margin: 0 0 var(--yr-xl);
}

.summary, .promo_code {
  margin: 0 0 var(--yr-m);
}

@media (--s) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--xr) * 2);
  }
}
