@import "breakpoint-sass/stylesheets/breakpoint";
@import "reset-scss/reset.scss";

// @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');


$s: 750px;
$m: 960px;
$l: 1280px;
$xl: 1600px;

$base-rhythm-line: 0.5rem;
$base-line-height: 3;
$base-line-height2: $base-line-height + 1;

$gutter: 1rem;

$primary-color: #282828;
$op-color: #fff;
$separator-color: #dfdfdf;
$mint-color: #d5ecdc;


$space-s: $base-rhythm-line * $base-line-height;
$space-m: $base-rhythm-line * $base-line-height * 2;

$space-s2: $base-rhythm-line * ($base-line-height + 1);
$space-m2: $base-rhythm-line * ($base-line-height + 1) * 2;


@import "components/layout";
@import "components/fonts";

@import "header";
@import "page";

* {
  &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  @include font-size-common;

  font-family: 'futura-pt', sans-serif;
  font-weight: 300;
  width: 100%;
  color: $primary-color;
  min-height: 100%;
}

html {
  height: 100%;

}

.btn {
  @include font-size(1.5, 5);

  appearance: none;
  background: $mint-color;
  border: 0;
  cursor: pointer;
  padding: 0 $gutter;
  user-select: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}