@import "breakpoint-sass/stylesheets/breakpoint";
@import "reset-scss/reset.scss";
@import "swiper/dist/css/swiper";
@import "dropzone/src/basic";

@import url('https://fonts.googleapis.com/css?family=Cormorant:300,300i&subset=cyrillic');

$s: 750px;
$m: 960px;
$l: 1280px;
$xl: 1600px;

$base-rhythm-line: 0.5rem;
$base-line-height: 3;
$base-line-height2: $base-line-height + 1;

$gutter: 1rem;

$primary-color: #282828;
$op-color: #fff;
$separator-color: #dfdfdf;
$highlight-color: #e0ae39;

$sand-color: #fff5e9;
// $mint-color: #d5ecdc;
// $color-1: #9d9b7a;
// $color-2: #f5e9e0;
// $color-3: #a67148;

$space-s: $base-rhythm-line * $base-line-height;
$space-m: $base-rhythm-line * $base-line-height * 2;

$space-s2: $base-rhythm-line * ($base-line-height + 1);
$space-m2: $base-rhythm-line * ($base-line-height + 1) * 2;


@import "components/layout";
@import "components/fonts";
@import "components/forms";

@import "header";
@import "page";
@import "footer";

* {
  &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  @include font-size-common;

  font-family: 'futura-pt', sans-serif;
  font-weight: 300;
  width: 100%;
  color: $primary-color;
  min-height: 100%;
  text-size-adjust: 100%;

  &.full_screen {
    // height: 100%;
    overflow: hidden;
    // width: 100%;
    // position: fixed;

    .header_overlay {
      // opacity: 0.4;
      visibility: visible;
    }
  }
}

html {
  height: 100%;

}

.btn {
  @include font-size(1.5, 4);

  appearance: none;
  background: transparent;
  border: 1px solid $highlight-color;
  cursor: pointer;
  color: $primary-color;
  display: inline-block;
  padding: $base-rhythm-line $gutter * 2;
  user-select: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  min-width: 10rem;
}