@import 'breakpoint-sass/stylesheets/breakpoint';
@import 'reset-scss/reset.scss';
@import 'swiper/dist/css/swiper';
@import 'dropzone/dist/basic';
@import 'flatpickr/dist/flatpickr';

@import url('https://fonts.googleapis.com/css?family=Cormorant:300,300i&subset=cyrillic');

@font-face {
  font-family: 'MadelynFill';
  src: font_url('mf/madelynfill-webfont.eot');
  src: font_url('mf/madelynfill-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('mf/madelynfill-webfont.woff') format('woff'),
  font_url('mf/madelynfill-webfont.ttf') format('truetype'),
  font_url('mf/madelynfill-webfont.svg#MadelynFill') format('svg');
  font-weight: normal;
  font-style: normal;
}

$s: 750px;
$m: 960px;
$l: 1280px;
$xl: 1600px;

$base-rhythm-line: 0.5rem;
$base-line-height: 3;
$base-line-height2: $base-line-height + 1;

$gutter: 1rem;

$bold: 500;

$primary-color: #282828;
$grey-color: #858585;
$op-color: #fff;
$separator-color: #dfdfdf;
$highlight-color: #9caa73;

$red-color: #cc0c2f;

$sand-color: #F7F8F5;
// $sand-hover-color: #D2C1AE;
// $mint-color: #d5ecdc;
// $color-1: #9d9b7a;
// $color-2: #f5e9e0;
// $color-3: #a67148;

$space-s: $base-rhythm-line * $base-line-height;
$space-m: $base-rhythm-line * $base-line-height * 2;

$space-s2: $base-rhythm-line * ($base-line-height + 1);
$space-m2: $base-rhythm-line * ($base-line-height + 1) * 2;


@import "components/layout";
@import "components/fonts";
@import "components/forms";

@import "header";
@import "page";
@import "footer";



* {
  &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  @include font-size-common;
  @include font-main;

  width: 100%;
  color: $primary-color;
  min-height: 100%;
  text-size-adjust: 100%;

  &.full_screen {
    @include mq(0 ($xl - 1)) {

    }

    overflow: hidden;

    .header_overlay {
      visibility: visible;
    }
  }
}

html {
  height: 100%;
}

button.btn,
.btn {
  // @include font-size(1.5, 4);
  @include font-size(1.5, 3.75);

  font-family: inherit;
  font-weight: inherit;
  appearance: none;
  border-radius: 0;
  // background: $sand-color;
  border: 1px solid $highlight-color;
  cursor: pointer;
  color: $primary-color;
  display: inline-block;
  padding: 0 $gutter;
  user-select: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  min-width: 8rem;
  transition: background 0.3s, color 0.3s;

  &_sm {
    @include font-size(1.25);

    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0 $gutter / 2;
    min-width: auto;
  }


  &:hover {
    background: $sand-color;
  }

  &_inac {
    opacity: 0.6;
  }

  &_gr {
    // @include font-size(1.5, 3.75);

    background-color: transparent;
    border: 1px solid $sand-color;

    &:hover {
      background-color: $sand-color;
    }
  }
}

a.bordered {
  border-bottom: 1px solid $separator-color;
}
// body.dragging, body.dragging * {
//   cursor: move !important;
// }

// .dragged {
//   position: absolute;
//   opacity: 0.5;
//   z-index: 2000;
//   background: $separator-color;
// }

// .strbl li.placeholder {
//   position: relative;
//   background-color: green;
//   min-height: 10px;
//   /** More li styles **/
// }
// .strbl li.placeholder:before {
//   position: absolute;
//   /** Define arrowhead **/
// }

// .strbl {
//   li {
//     position: relative;
//     padding-left: 32px;

//     &.dragged {
//       position: absolute;
//     }
//   }

//   .icn {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 20px;
//     height: 32px;
//     background-color: blue;
//   }
// }
