.footer {
  padding: 0 $gutter;
  margin-bottom: $space-s;

  &_like {
    margin-left: auto;
    width: 10rem;
    text-align: right;
  }

  @include mq($s) {
    margin-bottom: $space-s2;
  }

  @include mq($m) {
    padding: 0 $gutter * 2;
  }

  @include mq($xl) {
    padding: 0 $gutter * 4;
  }
}
