.header {
  background-color: $op-color;
  height: $base-rhythm-line * $base-line-height  * 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  // overflow: hidden;

  &.hidden {
    z-index: 0;
  }



  &_logo {
    position: absolute;
    left: 50%;
    top: 22px;
    transform: translateX(-50%);

    > a {
      display: block;

      svg {
        display: block;
        width: 76px;
        height: 28px;

        .a, .b {
          fill: none;
          stroke-linecap: round;
          stroke-linejoin: round;
        }

        .a {
          stroke: #4c4b4c;
        }

        .b {
          stroke: #51b478;
        }
      }
    }
  }

  &_nav {
    display: flex;
    position: absolute;
    left: $gutter;
    top: $base-line-height * $base-rhythm-line;
  }

  &_caw {
    position: absolute;
    display: flex;
    right: $gutter;
    top: 2 * $base-rhythm-line;

    .wishlist {
      &_icon {
        display: block;

        .h {
          fill: none;
          stroke: $primary-color;
          stroke-width: 2px;
          fill-rule: evenodd;
        }
      }

      a {
        display: block;
      }
    }

    .cart {
      &_icon {
        display: block;

        .b {
          fill: $primary-color;
          fill-rule: evenodd;
        }
      }

      a {
        display: block;
      }
    }
  }

  &_burger {
    display: flex;
    cursor: pointer;
    user-select: none;

    svg {
      display: block;
      width: $base-rhythm-line * $base-line-height;
      height: $base-rhythm-line * $base-line-height;

      fill: $primary-color;
    }

    .t {
      @include font-size(1.5);
      margin-left: $gutter / 2;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
  }

  &_menu {
    @include font-size(1.5);

    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: none;

    &_item {
      margin-right: $gutter;
    }

    @include breakpoint($m) {
      display: flex;
      margin-left: $gutter;
    }
  }

  &.index {
    background-color: transparent;
  }

  &_full {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background-color: $color-2;
    z-index: 11;
    width: 100%;
    min-height: 100%;
    transition: 0.3s opacity, 0s visibility 0.3s;

    @include font-size(1.5, 2);
    letter-spacing: 0.2em;
    text-transform: uppercase;

    &_container {
      padding: 0 $gutter;
      max-width: 27rem;

      @include mq($m) {
        padding: 0 $gutter * 2;
      }

      @include mq($xl) {
        padding: 0 $gutter * 4;
      }

    }

    &_close {
      width: 100%;
      height: $base-rhythm-line * $base-line-height  * 3;
      position: relative;

      svg {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 28px;
        width: 16px;
        height: 16px;

        line {
          stroke: $primary-color;
          stroke-width: 1;
        }
      }
    }

    &_themes {
      display: flex;
      margin-bottom: $space-s;
      flex-wrap: wrap;

      &_item {
        width: 50%;
        padding-right: $gutter;
        margin-bottom: $space-s;
      }
    }
  }

  &.with-nav {
    // .header_logo {
    //   > a {
    //     svg {
    //       .a {
    //         stroke: $primary-color;
    //       }
    //     }
    //   }
    // }

    // .header_burger {
    //   .t {
    //     color: $primary-color;
    //   }
    // }

    // .header_menu {
    //   color: $primary-color;
    // }

    // .header_burger,
    // .header_basket {
    //   svg {
    //     fill: $primary-color;
    //   }
    // }

    // .header_burger {
    //   svg {
    //     rect {
    //       opacity: 0;


    //       &:first-child {
    //         transform-origin: 50% 50%;
    //         y: 11px;
    //         transform: rotateZ(-45deg);
    //         opacity: 1;
    //       }

    //       &:last-child {
    //         transform-origin: 50% 50%;
    //         y: 11px;
    //         transform: rotateZ(45deg);
    //         opacity: 1;

    //       }
    //     }
    //   }
    // }

    .header_full {
      visibility: visible;
      opacity: 1;
      transition: 0.3s opacity;
    }
  }

  @include breakpoint($s) {
    &_logo {

    }

    &_nav {
      margin-right: auto;
    }
  }

  @include breakpoint($m) {
    &_nav {
      left: $gutter * 2;
    }

    &_caw {
      right: $gutter * 2;
    }
  }

  @include breakpoint($xl) {
    &_nav {
      left: $gutter * 4;
    }

    &_caw {
      right: $gutter * 4;
    }
  }
}