.header {
  &_logo {
    background-color: green;
  }

  @include breakpoint($s) {
    display: flex;

    &_logo {

    }

    &_nav {
      margin-right: auto;
    }

    &_menu {
      display: flex;
    }
  }
}