@import "page/about";
@import "page/kits";
@import "page/kit";

.page {
  padding-top: $base-rhythm-line * 8;

  &_common {
    padding-left: $gutter;
    padding-right: $gutter;

    &_intro {
      max-width: $xl;
      padding: 0 $gutter;
      margin: $base-rhythm-line auto;

      h1 {
        margin-bottom: 0;
        text-align: center;
      }

      @include breakpoint($s) {
        margin: $space-m auto $space-s;
      }

      @include breakpoint($l) {
        margin: $space-m2 auto $space-s2;
      }
    }

    @include mq($m) {
      // width: 12 / 14 * 100%;
      // margin-left: 2 / 14 * 100%;
    }

    @include mq($l) {
      width: 12 / 16 * 100%;
      margin-left: 2 / 16 * 100%;
    }
  }

  @include mq($s) {
    padding-top: $base-rhythm-line * 12;
  }

  @include mq($xl) {
    padding-top: $base-rhythm-line * 15;
  }

  @import "page/category";

  @import "page/theme";
  @import "page/themes";

  @import "page/products";
  @import "page/product";

  @import "page/static";

  @import "page/auth";
}

.link_fake {
  position: absolute;
  left: $gutter;
  right: $gutter;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.fd {
  display: flex;
  position: relative;
  z-index: 3;
  margin-bottom: $space-s;

  &_w {
    @include font-size-small;
  }

  &_ph {
    display: none;
    height: $base-rhythm-line * 9;
  }

  &_i {
    margin-right: $gutter;
    width: $gutter * 4.5;
    user-select: none;


    .t {
      cursor: pointer;
      display: inline-block;
      padding-right: 12px;
      position: relative;
      z-index: 2;

      svg {
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 24px;

        polyline {
          fill: none;
          stroke-width: 1px;
          stroke: $primary-color;
          stroke-linecap: butt;
          stroke-linejoin: miter;
        }
      }
    }

    .f {
      @include font-size(1.25, 2);

      background-color: $op-color;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      padding: $base-rhythm-line * 4 0 $base-rhythm-line;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-$base-rhythm-line * 2);
      transition: 0.3s opacity, 0.2s transform, 0s visibility 0.3s;

      &_l {
        &_i {
          cursor: pointer;
          margin-bottom: $base-rhythm-line  / 2;

          &.active {
            color: $highlight-color;
          }
        }
      }

      &.color {
        padding-left: $gutter * 4.5 + $gutter;
      }

      &.size {
        padding-left: $gutter * 9 + $gutter * 2;
      }

      @include mq($m) {
        padding-left: $gutter;

        &.color {
          padding-left: $gutter * 4.5 + $gutter * 2;
        }

        &.size {
          padding-left: $gutter * 9 + $gutter * 3;
        }
      }
    }

    &.fd_d {
      .t {
        color: #999;

        svg {
          polyline {
            stroke: #999;
          }
        }
      }

      .f {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: 0.3s opacity, 0.2s transform;
      }
    }
  }

  @include mq($m) {
    padding: 0 $gutter;
  }
}