@import "page/about";
@import "page/kits";
@import "page/kit";

.page {
  padding-top: $base-rhythm-line * 8 + $space-s;

  &_container {
    &.under_filters {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: $base-rhythm-line * 20;
        right: 0;
        bottom: 0;
        background-color: rgba($primary-color, 0.1);

        @include mq($s) {
          top: $base-rhythm-line * 38;
        }

        @include mq($l) {
          top: $base-rhythm-line * 41;
        }

        @include mq($xl) {
          top: $base-rhythm-line * 48;
        }
      }
    }
  }

  &_common {
    padding-left: $gutter;
    padding-right: $gutter;
    padding-bottom: $space-m;

    &_intro {
      max-width: $xl;
      padding: 0 $gutter;
      // margin-top: $space-s;

      h1 {
        margin-bottom: 0;
        text-align: center;
      }

      @include breakpoint($s) {
        margin: 0 auto $space-s;
      }

      @include breakpoint($l) {
        margin: 0 auto $space-s2;
      }
    }

    @include mq($m) {
      padding-bottom: $space-m2;
      // width: 12 / 14 * 100%;
      // margin-left: 2 / 14 * 100%;
    }

    @include mq($l) {
      width: 12 / 16 * 100%;
      margin-left: 2 / 16 * 100%;
    }
  }

  @include mq($s) {
    padding-top: $base-rhythm-line * 20 + $space-s2;
  }

  @include mq($xl) {
    padding-top: $base-rhythm-line * 23 + $space-m2;
  }

  @import "page/category";

  @import "page/theme";
  @import "page/themes";

  @import "page/products";
  @import "page/product";

  @import "page/static";

  @import "page/auth";
}

.link_fake {
  position: absolute;
  left: $gutter;
  right: $gutter;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.fd {
  display: flex;
  // position: relative;
  z-index: 3;
  // margin-bottom: $space-s;

  &_w {
    @include font-size-small;
  }

  &_ph {
    display: none;
    height: $base-rhythm-line * 9;
  }

  &_i {
    margin-right: $gutter;
    width: $gutter * 4.5;
    user-select: none;
    position: relative;


    .t {
      cursor: pointer;
      display: inline-block;
      padding-right: 12px;
      position: relative;
      z-index: 2;

      svg {
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 24px;


        polyline {
          fill: none;
          stroke-width: 1px;
          stroke: $primary-color;
          stroke-linecap: butt;
          stroke-linejoin: miter;
        }
      }
    }

    .f {
      @include font-size(1.25, 2);

      background-color: $op-color;
      position: absolute;
      left: -$gutter * 2;
      top: 0;
      padding: $space-m $gutter * 2 $space-s;
      visibility: hidden;
      opacity: 0;
      // transform: translateY(-$base-rhythm-line * 2);
      transition: 0.3s opacity, 0.2s transform, 0s visibility 0.3s;
      min-width: $gutter * 8.5;
      z-index: 1;

      &_l {
        &_i {
          cursor: pointer;
          margin-bottom: $base-rhythm-line;
          white-space: nowrap;

          &.active {
            color: $highlight-color;
          }
        }
      }

      // &.color {
      //   padding-left: $gutter * 4.5 + $gutter;
      // }

      // &.size {
      //   padding-left: $gutter * 9 + $gutter * 2;
      // }

      @include mq($m) {
        // padding-left: $gutter;

        // &.color {
        //   padding-left: $gutter * 4.5 + $gutter * 2;
        // }

        // &.size {
        //   padding-left: $gutter * 9 + $gutter * 3;
        // }
      }
    }

    &.fd_d {
      .t {
        color: #999;

        svg {
          polyline {
            stroke: #999;
          }
        }
      }

      .f {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: 0.3s opacity, 0.2s transform;
      }
    }

    @include mq($s) {
      margin-right: $gutter * 3;

      .t {
        padding-right: 20px;
        line-height: 40px;

        svg {
          top: 8px;
        }
      }
    }
  }
}