- title @category.title

= react_component 'Categories/Form', { id: @category.id, title: @category.title, values: { title: @category.title, slug: @category.slug, state: @category.state, front: @category.front, images: @category.images.sort_by(&:weight_or_created).map{|i| {id: i.id, preview: i.photo.preview.url}}, image_ids: @category.images.map(&:id), images_attributes: @category.images.map{|i| {id:i.id, weight: i.weight}} }}
