- title @category.title
- description @variants.map(&:title_last).join(', ')
- set_meta_tags og: { \
  image: Image.category(@category).map{ |image| image.photo.large.url } \
}

= react_component 'Categories/Show', { category: @category.slice(:id, :title, :slug) }
