.root {
  display: flex;
  justify-content: center;

  @media(--m) {
    justify-content: flex-start;
  }
}

.origin {
  text-decoration: line-through;
  color: var(--gr_color);
}

.last {
  color: var(--red_color);
  margin-right: 0.75em;
}
