.items {
  margin-top: calc(var(--yr) * 8);
  composes: at from '../Fonts';

  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--xr);
  }
}

.item {
  background: var(--wht_color);
  cursor: pointer;
  display: grid;
  grid-column-gap: var(--xr);
  grid-template-columns: 6rem 1fr;
  grid-template-rows: repeat(5, auto) 1fr;
  padding: calc(var(--yr) * 2);

  & .title {
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * 8);
  }

  &.selected {
    box-shadow: inset 0 0 0 2px var(--pr_color);
  }
}

.image {
  /* align-self: flex-start;
  composes: image from '../Variants/List.module.css';
  grid-row: 1 / span 6;

  &::before {
    display: block;
    content: '';
    padding-top: calc(8 / 4 * 100%)
  } */

  position: relative;
  background-color: #f9f9f9;
  overflow: hidden;
  grid-row: 1 / span 6;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%)
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    max-width: 100%;
  }
}
