.root {
  display: block;
  padding: calc(var(--yr) * 3) calc(var(--yr) * 2);
  transition: opacity 0.3s;
  position: relative;
}

.svg {
  display: block;
  width: calc(var(--yr) * 6);
  height: calc(var(--yr) * 6);
  fill: none;
  stroke: currentColor;
  stroke-miterlimit: 10;
  stroke-linejoin: round;
}

.inactive {
  opacity: 0.3;
}

.counter {
  position: absolute;
  top: calc(var(--yr) * 1);
  right: calc(var(--yr) * 1);
  width: calc(var(--yr) * 4);
  height: calc(var(--yr) * 4);
  line-height: var(--lh-mt);
  font-size: var(--fs-mt);
  font-weight: 600;
  text-align: center;
  background-color: rgb(var(--theme-fg-primary-color));
  color: rgb(var(--theme-bg-primary-color));
  border-radius: 50%;
  overflow: hidden;
}
