.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid var(--sep_color);
  padding-bottom: calc(var(--yr) * var(--s1));
  margin-bottom: calc(var(--yr) * var(--s1));
}

.tables {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: calc(var(--yr) * var(--s2));
}

.refund {
  color: var(--red_color);
}

.profit, .refund, .result {
  justify-self: flex-start;
}
